<div class="contentArea" role="main">
  <div class="post-wrapper hide">
    <div class="post">
      <div class="post-header clearfix">
        <a href="" class="post-profile-img">
          <img src='/images/alexseif.jpg' height='40px' width='40px'/>
        </a>
        <div class="clearfix" style='overflow: hidden;'>
          <div>
            <div>
              <div>
                <h1 class="name"><a href="">Alex Seif</a></h1></a>
                <div class='subtitle'>
                  Software Engineer 10 years 
                  <span role="presentation" aria-hidden="true"> · </span>
                  <span class='glyphicon glyphicon-globe' style='font-size: 12px;'></span>
                </div>
              </div>
            </div>
          </div>              
        </div>
      </div>
      <div class='post-body'>
        <div><p>Scroll down let's do some business</p></div>
      </div>
    </div>
  </div>
</div>