<div class="socials">
  <div id="hexagon"><i class="fa fa-facebook"></i></div>
  <div id="hexagon"><i class="fa fa-linkedin"></i></div>
  <div id="hexagon"><i class="fa fa-google-plus"></i></div>
  <div id="hexagon"><i class="fa fa-youtube"></i></div>
  <div id="hexagon"><i class="fa fa-twitter"></i></div>
  <div id="hexagon"><i class="fa fa-rss"></i></div>
</div>
<div class="reviews">
  <div id="hexagon"><i class="fa fa-yelp"></i></div>
  <div id="hexagon"><i class="fa fa-github"></i></div>
  <div id="hexagon"><i class="fa fa-linux"></i></div>
</div>
