<div class="product-slider__bottom">
    <button class="product-slider__cart">ADD TO CART</button>
    <button class="product-slider__fav js-fav"><span class="heart"></span> ADD TO WISHLIST</button>
</div><!-- .product-slider__bottom -->
<div style="display: none;">
    <div class="fb-save" data-uri="https://alexseif.com/packages/" data-size="large"></div>
    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
</div>
