{% extends '::base.html.twig' %}
{% block title %}Alex Seif - Packages{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/packages.css') }}"/>

{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="content">
            <div class="bg-shape">
                <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405214/starwars/logo.png"
                     alt="">
            </div>
            <div class="product-img">
                <div class="product-img__item" id="img1">
                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405217/starwars/item-1.png"
                         alt="star wars" class="product-img__img">
                </div><!-- .product-img__item -->
                <div class="product-img__item" id="img2">
                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405217/starwars/item-2.png"
                         alt="star wars" class="product-img__img">
                </div><!-- .product-img__item -->
                <div class="product-img__item" id="img3">
                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405218/starwars/item-3.png"
                         alt="star wars" class="product-img__img">
                </div><!-- .product-img__item -->
                <div class="product-img__item" id="img4">
                    <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405215/starwars/item-4.png"
                         alt="star wars" class="product-img__img">
                </div><!-- .product-img__item -->
            </div><!-- .product-img -->

            <div class="product-slider">
                <button class="prev disabled">
                    <span class="icon">
                        <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-left"></use></svg>
                    </span>
                </button><!-- .prev -->
                <button class="next">
                    <span class="icon">
                        <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
                    </span>
                </button><!-- .next -->
                <div class="product-slider__wrp swiper-wrapper">
                    {% include 'package/package-1.html.twig' %}
                    {% include 'package/package-2.html.twig' %}
                    {% include 'package/package-3.html.twig' %}
                    {% include 'package/package-4.html.twig' %}
                </div><!-- .swiper-wrapper -->
            </div><!-- .product-slider -->
        </div><!-- .content -->
        <div class="social" style="display: none;">
            <a href="https://twitter.com/iamuhammederdem" target="_blank" class="social__item">
                <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405220/starwars/twitter.png"
                     alt="muhammed erdem" class="social__img">
                <span class="social__txt">Coded By Muhammed Erdem</span>
            </a>
            <a href="https://dribbble.com/shots/3453028-Star-Wars-TIE-Fighter-UI" target="_blank"
               class="social__item">
                <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405220/starwars/dribbble.png"
                     alt="eray yeşilyurt" class="social__img">
                <span class="social__txt">Designed By Eray Yeşilyurt</span>
            </a>
        </div><!-- .social -->
    </div><!-- .wrapper -->
    <svg class="hidden" hidden>
        <symbol id="icon-arrow-left" viewBox="0 0 32 32">
            <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
        </symbol>
        <symbol id="icon-arrow-right" viewBox="0 0 32 32">
            <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
        </symbol>
    </svg>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <script src="{{ asset('js/packages.js') }}"></script>

{% endblock %}
