<div class="product-slider__item swiper-slide" data-target="img2">
    <div class="product-slider__card">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405222/starwars/item-2-bg.jpg"
             alt="star wars" class="product-slider__cover">
        <div class="product-slider__content">
            <h1 class="product-slider__title">
                KYLO REN'S <br> LIGHTSABER
            </h1>
            <span class="product-slider__price">$1.699,<sup>99</sup></span>
            <div class="product-ctr">
                <div class="product-labels">
                    <div class="product-labels__title">VOLTAGE RANGE</div>

                    <div class="product-labels__group">
                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type3"
                                   checked>
                            <span class="product-labels__txt">2000 <sup>WATT</sup></span>
                        </label>

                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type3">
                            <span class="product-labels__txt">2800 <sup>WATT</sup></span>
                        </label>
                    </div>

                    <div class="product-labels__title">LASER SIZE</div>

                    <div class="product-labels__group">
                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type2">
                            <span class="product-labels__txt">S</span>
                        </label>

                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type2"
                                   checked>
                            <span class="product-labels__txt">M</span>
                        </label>

                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type2">
                            <span class="product-labels__txt">L</span>
                        </label>

                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type2">
                            <span class="product-labels__txt">XL</span>
                        </label>

                    </div><!-- .product-labels__group -->

                </div><!-- .product-labels -->

                <span class="hr-vertical"></span>

                <div class="product-inf">
                    <div class="product-inf__percent">
                        <div class="product-inf__percent-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                                 viewBox="0 0 100 100">
                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%"
                                                    y2="100%">
                                        <stop offset="0%" stop-color="#0c1e2c"
                                              stop-opacity="0"/>
                                        <stop offset="100%" stop-color="#cb2240"
                                              stop-opacity="1"/>
                                    </linearGradient>
                                </defs>
                                <circle cx="50" cy="50" r="47" stroke-dasharray="240, 300"
                                        stroke="#cb2240" stroke-width="4" fill="none"/>
                            </svg>
                        </div><!-- .product-inf__percent -->
                        <div class="product-inf__percent-txt">
                            80%
                        </div>
                    </div><!-- .product-inf__percent -->

                    <span class="product-inf__title">DURABILITY</span>
                </div><!-- .product-inf -->
            </div><!-- .product-ctr -->

            {% include 'package/__bottom.html.twig' %}

        </div><!-- .product-slider__content -->
    </div><!-- .product-slider__card -->
</div><!-- .swiper-slide -->