<div class="product-slider__item swiper-slide" data-target="img1">
    <div class="product-slider__card">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1536405222/starwars/item-1-bg.jpg"
             alt="star wars" class="product-slider__cover">
        <div class="product-slider__content">
            <h1 class="product-slider__title">
                IMPERIAL ARMY’S <br> TIE FIGHTER
            </h1>
            <span class="product-slider__price">$9.999,<sup>99</sup></span>
            <div class="product-ctr">
                <div class="product-labels">
                    <div class="product-labels__title">ENGINE UNIT</div>

                    <div class="product-labels__group">
                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type1"
                                   checked>
                            <span class="product-labels__txt">P-S4 TWIN</span>
                        </label>

                        <label class="product-labels__item">
                            <input type="radio" class="product-labels__checkbox" name="type1">
                            <span class="product-labels__txt">P-W401</span>
                        </label>

                    </div><!-- .product-labels__group -->

                </div><!-- .product-labels -->

                <span class="hr-vertical"></span>

                <div class="product-inf">
                    <div class="product-inf__percent">
                        <div class="product-inf__percent-circle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"
                                 viewBox="0 0 100 100">
                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%"
                                                    y2="100%">
                                        <stop offset="0%" stop-color="#0c1e2c"
                                              stop-opacity="0"/>
                                        <stop offset="100%" stop-color="#cb2240"
                                              stop-opacity="1"/>
                                    </linearGradient>
                                </defs>
                                <circle cx="50" cy="50" r="47" stroke-dasharray="225, 300"
                                        stroke="#cb2240" stroke-width="4" fill="none"/>
                            </svg>
                        </div>
                        <div class="product-inf__percent-txt">
                            75%
                        </div>
                    </div>

                    <span class="product-inf__title">DURABILITY</span>
                </div>

            </div>

            <div class="product-slider__bottom">
                <button class="product-slider__cart">
                    ADD TO CART
                </button>

                <button class="product-slider__fav js-fav"><span class="heart"></span> ADD TO
                    WISHLIST
                </button>
            </div><!-- .product-slider__bottom -->
        </div><!-- .product-slider__content -->
    </div><!-- .product-slider__card -->
</div><!-- .swiper-slide -->
