{# src/AppBundle/Resources/views/Checkout/prepare.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
  <form class='form'>
    <div class='form-body'>
      Get a Quote
      <button class='btn btn-default' type='submit'>Quote</button
    </div>
  </form>
{% endblock %}