// @import "var";
$body-bg: var(--color-bg);
$white: var(--color-text);
$accent: var(--color-accent);

.nav {
  position: fixed;
  top: 0;
  z-index: 21;
  width: 100%;
}

#nav {
  margin-top: var(--margin-md);
  caret-color: transparent;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;

  align-items: center;

  &.scrolled {
    opacity: 0.4; // adjust the opacity value as needed

    &:hover {
      opacity: 1;
    }
  }

  a {
    color: $white;
    font-weight: bold;
    text-decoration: none;
    // width: 100%;
    display: block;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .accent {
    color: var(--color-text-accent);
    transition: text-decoration 300ms ease;

    &:hover {
      text-decoration: underline;
    }
  }



}

nav {
  display: none;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-inline-start: 0;
    gap: var(--gap-lg);
  }

  @media (min-width: 768px) {
    display: block;
  }
}

#logo-div {
  // #trophy-div {
  position: relative;
  perspective: 1000px;

  img,
  svg {
    transition: transform 0.5s, opacity 0.5s;
    transform-style: preserve-3d;
    /* Preserve 3D transformations */
  }

  span {
    opacity: 0;
    /* Initially hide the span */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
    /* Initially flip the span to the back */
    transition: transform 0.5s, opacity 0.5s;
    transform-style: preserve-3d;
    /* Preserve 3D transformations */
  }

  &:hover {

    img,
    svg {
      transform: rotateY(180deg);
      /* Flip and scale down the image on hover */
      opacity: 0;
    }

    span {
      display: block;
      /* Make the span appear on hover */
      transform: rotateY(0deg);
      /* Flip the span to the front on hover */
      transform-style: preserve-3d;
      /* Preserve 3D transformations */
      opacity: 1;
    }
  }

}

footer {
  box-shadow: 0px -1px 1px 1px rgba(240, 240, 240, 0.2);
  color: var(--color-muted);
  position: sticky;
  bottom: 0;
  background-color: var(--color-surface);
  z-index: 2;
  // padding-top: var(--margin-md);
  // padding-bottom: var(--margin-md);

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: $white;
    font-weight: bold;
    text-decoration: none;
    // width: 100%;
    display: block;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  ul {
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

    @media (min-width: 768px) {
      flex-direction: row;

    }
  }

  .social-icon-link {

    svg {
      fill: var(--color-muted);
      width: 3rem;
      height: 3rem;

      &:hover {
        filter: brightness(1.2) saturate(1.2) opacity(0.8);
      }
    }
  }



  transition: opacity 0.5s ease-in-out;

  &.scrolled {
    opacity: 0.4; // adjust the opacity value as needed

    &:hover {
      opacity: 1;
    }
  }
}