section {
    position: relative;

    .info {
        border-radius: 12px;
        border: 1px solid darkgray;
        background-color: gray;
        color: black;
        padding: 1rem;
        font-size: 1rem;

        a {
            display: inline-block;
            background-color: blue;
            padding: 1rem 2rem;
            color: white;
            font-weight: 700;
        }
    }

    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

section#illustrating-yin-yang {
    svg {
        stroke: #444;
        stroke-width: .08px;
        fill: none;
        font: .65px consolas
    }

    [r='6'] {
        stroke: #9351a6
    }

    [r='3'] {
        stroke: #d49b00
    }

    [r='1'] {
        stroke: #e18728
    }

    [r*='.1'] {
        fill: #bbb
    }

    #a1+* {
        stroke: #bbb;
        stroke-width: .05px
    }

    [d*=A] {
        stroke: #be4c39
    }

    g {
        marker-start: url(#a);
        marker-end: url(#a1)
    }

    [id*=a] *,
    text {
        stroke: none;
        fill: #444
    }

    g~text {
        font: italic .65px tahoma;
        fill: #be4c39
    }
}

section#yin-yang {


    #yin-yang {
        position: relative;
        background: #F0DFAD;
        min-height: 100vh;
        padding: 1rem;

        .yin-yang {
            $size: 10rem;

            @keyframes rotate {
                0% {
                    transform: rotate(0);
                }

                100% {
                    transform: rotate(360deg);
                }
            }

            position: absolute;
            top: 50%;
            left: 50%;
            margin: -($size / 2) 0 0 -($size / 2);
            height: $size;
            width: $size;
            border-radius: 50%;
            background: linear-gradient(to bottom, #fff 0%, #fff 50%, #000 50%, #000 100%);
            box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
            animation: rotate 10s linear infinite;

            &:before,
            &:after {
                content: '';
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 50%;
                width: 50%;
                border-radius: 50%;
            }

            &:before {
                left: 0;
                background: #FFF;
                border: ($size / 5) solid #000;
            }

            &:after {
                right: 0;
                background: #000;
                border: ($size / 5) solid #fff;
            }
        }
    }
}

section#yin-yang-2 {

    div#yin-yang {
        display: grid;
        place-items: center;
        height: 100vh;
        margin: 0;
        background-color: #eee;

        div.yin-yang {
            display: block;
            width: 50vmin;
            height: 50vmin;

            border-radius: 50%;
            overflow: hidden;

            background-color: #fff;
            box-shadow: 0 0 200vmin #c5c3c1;
        }

        div:after {
            content: '';

            display: block;
            width: 100%;
            height: 100%;

            background: #000;
            clip-path: shape(
                    /* first step */
                    from 50% 0%,
                    arc to 50% 100% of 1% cw,
                    arc to 50% 50% of 1% cw,
                    arc to 50% 0% of 1%,

                    /* top circle */
                    smooth to 50% 33%,
                    arc to 50% 17% of 1% cw,
                    arc to 50% 33% of 1% cw,

                    /* bottom circle */
                    smooth to 50% 83%,
                    arc to 50% 67% of 1%,
                    arc to 50% 83% of 1%);
        }
    }
}