#web-evolution {
    // text-align: center;

    header {
        margin-top: 15rem;
        margin-bottom: 5rem;

        h2 {
            text-align: end;
            line-height: 4rem;
        }
    }

    #web-evolution-milestones {
        h2 {
            @media (min-width: 768px) {
                position: absolute;
                right: 0;
            }
        }

        h3 {
            &::before {
                content: '*';
                position: absolute;
                left: -30px;
            }
        }

        ul {
            margin-top: 2rem;
            list-style: none;
            padding: 0;
            position: relative;

            li {
                padding: 20px;
                transition: padding 0.3s ease, font-size 0.3s ease;

                &::after {
                    // content: '•';
                    position: absolute;
                    right: 0;
                    color: #333;
                    transition: color 0.3s ease;
                }

                span {
                    font-weight: bold;
                    color: #555;
                    transition: margin 0.3s ease, font-size 0.3s ease;
                }

                &:hover {
                    // padding-right: 30px;
                    font-size: 2em;
                    font-weight: bold;

                    &::after {
                        color: #fff;
                    }

                    span {
                        font-size: 2rem;
                        margin-right: 30px;
                    }
                }


            }
        }
    }


}