<p>
  We are hiring PHP Web developers with passion and proficiency at their level of experience.
  Multiple positions and opportunities are available for PHP Web developers, who share our values and that are proficient at their relative level of experience.
</p>
<table class="table">
  <tr>
    <td>
      <strong>Job Type</strong>
    </td>
    <td>
      <span class="label label-default">Full Time</span>
      <span class="label label-default">Part Time</span>
      <span class="label label-default">Contract</span>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Experience Level</strong> 
    </td>
    <td>
      <span class="label label-default">Junior</span>
      <span class="label label-default">Mid-level</span>
      <span class="label label-default">Senior</span>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Role</strong> 
    </td>
    <td>
      <span class="label label-default">Full Stack Developer</span>
      <span class="label label-default">BackEnd Developer</span>
      <span class="label label-default">Web Developer</span>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Location:</strong> 
    </td>
    <td>
      <span class="label label-default">Cairo</span>
      <span class="label label-default">Alexandria</span>
      <span class="label label-default">Remote</span>
    </td>
  </tr>
</table>

