{% extends 'default/base-minimalist.html.twig' %}
{% block title %}PHP Web Developer | Alex Seif{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link href="/css/jobs.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
  {% include 'jobs/header.html.twig' %}
  <section>
    <div class="wrapper">
      <p>Available Jobs</p>
      <ul class="list-group">
        {% for job in jobs %}
          <li class="list-group-item">
            <a href="{{ job.link }}">{{ job.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
