<!DOCTYPE html>
<html class='full' lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Alex Seif - Software Engineer{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
      <link rel="stylesheet" href="/css/common.css" />
      <style>
        /** overflow **/
        body::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
          {#          background-color: #F5F5F5;#}
        }

        body::-webkit-scrollbar
        {
          width: 12px;
          {#          background-color: #F5F5F5;#}
          background-color: rgb(29,31,41);
        }

        body::-webkit-scrollbar-thumb
        {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
          {#          background-color: #555;#}
        }

      </style>
    {% endblock %}
    {% if ("prod" == app.environment) %}
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8657000585167176",
          enable_page_level_ads: true
        });
      </script>
      <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-15073710-4', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block meta %}
      <meta property="og:title" content="Alex Seif"/>
      <meta property="og:url" content="https://alexseif.com"/>
      <meta property="og:image" content="https://alexseif.com/images/alex-seif-business-card.png"/>
      <meta property="og:site_name" content="Alex Seif"/>
      <meta property="og:description" content="Software Engineer
            {{ ("now"|date("Y")) - 2004 }} yrs experience
            Based in Alexandria,  Egypt"/>	
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% include ':default:nav.html.twig' %}

      {% block content %}
      {% endblock %}
    {% endblock %}
    {% block announcements %}
      <style>
        section:nth-child(odd){
          z-index: 3;
        }
        #announcements{
          position: fixed;
          right: 0;
          bottom: 10px;
          z-index: 2;
        }
        .wise-owl{
          width: 100px;
          display: block;
          cursor: pointer;
        }
        .wise-owl-msg {
          background: rgba(0,0,0,0.5);
          padding: 10px;
          border-radius: 20px 20px 0 20px;
          text-align: right;
          right: 80px;
          position: fixed;
          bottom: 115px;
        }
      </style>
      <div id="announcements">
        <div class="wise-owl">
          <img src="/images/owl.png" alt="" class="img-responsive"/>
          <div class="wise-owl-msg" style='display: none;'>Contact me for updates on the portfolio</div>
        </div>
      </div>
    {% endblock %}
    {% block javascripts %}
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script>
        $(document).ready(function () {
          $('.wise-owl').hover(function () {
            $('.wise-owl-msg').fadeToggle();
          });

        });
      </script>
    {% endblock %}
  </body>
</html>
