<!DOCTYPE html>
<html class='full' lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Alex Seif - Software Engineer{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
      <link rel="stylesheet" href="/css/common.css" />
      <style>
        /** overflow **/
        {# https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp #}
        body::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          border-radius: 10px;
          {#          background-color: #F5F5F5;#}
        }

        body::-webkit-scrollbar
        {
          width: 12px;
          {#          background-color: #F5F5F5;#}
          background-color: rgb(29,31,41);
        }

        body::-webkit-scrollbar-thumb
        {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
          {#          background-color: #555;#}
        }

        /* Style the header: fixed position (always stay at the top) */
        {#      https://www.w3schools.com/howto/howto_js_scroll_indicator.asp #}
        .scroll-indicator{
          position: fixed;
          bottom: 0;
          z-index: 5;
          width: 100%;
          background-color: #f1f1f1;
        }

        /* The progress container (grey background) */
        .progress-container {
          width: 100%;
          height: 8px;
          background: #ccc;
        }

        /* The progress bar (scroll indicator) */
        .progress-bar {
          height: 8px;
          background: rgb(29,31,41);
          width: 0%;
        }
      </style>
    {% endblock %}
    {% if ("prod" == app.environment) %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15073710-4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-15073710-4');
      </script>

      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({'gtm.start':
                    new Date().getTime(), event: 'gtm.js'});
          var f = d.getElementsByTagName(s)[0],
                  j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src =
                  'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K5BKGDM');</script>
      <!-- End Google Tag Manager -->

      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8657000585167176",
          enable_page_level_ads: true
        });
      </script>
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block meta %}
      <meta property="og:title" content="Alex Seif"/>
      <meta property="og:url" content="https://alexseif.com"/>
      <meta property="og:image" content="https://alexseif.com/images/alex-seif-business-card.png"/>
      <meta property="og:site_name" content="Alex Seif"/>
      <meta property="og:description" content="Software Engineer
            {{ ("now"|date("Y")) - 2004 }} yrs experience
            Based in Alexandria,  Egypt"/>	
    {% endblock %}
  </head>
  <body>
    {% if ("prod" == app.environment) %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5BKGDM"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% block body %}
      {% include ':default:nav.html.twig' %}

      {% block content %}
      {% endblock %}
    {% endblock %}
    <div class="scroll-indicator">
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div> 
    </div>
    {% block announcements %}
      <style>
        section:nth-child(odd) div{
          z-index: 1;
        }
        section:nth-child(even) div{
          z-index: 3;
        }
        #announcements{
          position: fixed;
          right: 0;
          bottom: 10px;
          z-index: 2;
        }
        .wise-owl{
          width: 100px;
          display: block;
          cursor: pointer;
        }
        .wise-owl-msg {
          background: rgba(0,0,0,0.5);
          padding: 10px;
          border-radius: 20px 20px 0 20px;
          text-align: right;
          right: 80px;
          position: fixed;
          bottom: 115px;
        }
      </style>
      <div id="announcements">
        <div class="wise-owl">
          <img src="/images/owl.png" alt="" class="img-responsive"/>
          <div class="wise-owl-msg" style='display: none;'>Contact me for updates on my portfolio</div>
        </div>
      </div>
    {% endblock %}
    {% block javascripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script>
        {# https://www.w3schools.com/howto/howto_js_scroll_indicator.asp #}
          // When the user scrolls the page, execute myFunction 
          window.onscroll = function () {
            myFunction()
          };

          function myFunction() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
          }
      </script>
      <script>
        $(document).ready(function () {
          $('.wise-owl').hover(function () {
            $('.wise-owl-msg').fadeToggle();
          });

        });
      </script>
    {% endblock %}
  </body>
</html>
