<!DOCTYPE html>
<html class='full' lang="en" xml:lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{% block title %}Alex Seif - Software Engineer{% endblock %}</title>
    {% block stylesheets %}
      {#      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
      {#      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />#}
      {#      <link href="https://fonts.googleapis.com/css?family=Cabin|Darker+Grotesque|Just+Me+Again+Down+Here&display=swap" rel="stylesheet">#}
      {#      <link href="https://fonts.googleapis.com/css?family=Cabin|Darker+Grotesque:400,500,600,700,800,900|Just+Me+Again+Down+Here&display=swap" rel="stylesheet">#}
      {#      <link href="https://fonts.googleapis.com/css?family=Cabin|Just+Me+Again+Down+Here&display=swap" rel="stylesheet">#}
      <link rel="stylesheet" href="/css/common.css" />
      <link href="/css/main.css" type="text/css" rel="stylesheet" />
    {% endblock %}
    {% if ("prod" == app.environment) %}
      <!-- Google Tag Manager -->
      <script>
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({'gtm.start':
                    new Date().getTime(), event: 'gtm.js'});
          var f = d.getElementsByTagName(s)[0],
                  j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src =
                  'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K5BKGDM');
      </script>
      <!-- End Google Tag Manager -->
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8657000585167176",
          enable_page_level_ads: true
        });
      </script>
    {% endif %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block meta %}
      <meta property="og:title" content="Alex Seif"/>
      <meta property="og:url" content="https://alexseif.com"/>
      <meta property="og:image" content="https://alexseif.com/images/alex-seif-business-card.png"/>
      <meta property="og:site_name" content="Alex Seif"/>
      <meta property="og:description" content="Software Engineer
            Specializing in Web Developement using (PHP, Symfony, Open Cart, Wordpress and Drupal)
            {{ ("now"|date("Y")) - 2004 }} yrs experience
            Based in Alexandria,  Egypt"/>	
      <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
    {% endblock %}
  </head>
  <body>
    {% if ("prod" == app.environment) %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5BKGDM"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% block body %}
      {% include ':default:nav.html.twig' %}
      {% block content %}
      {% endblock %}
    {% endblock %}
    <div class="scroll-indicator">
      <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
      </div> 
    </div>
    {% block announcements %}
      <div id="announcements">
        <div class="wise-owl">
          <img src="/images/owl.png" alt="owl" width="100"/>
          <div class="wise-owl-msg" style='display: none;'>
            <a href="mailto:contact@alexseif.com" target="_blank">Contact me for updates on my portfolio</a>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block javascripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
      <script>
        {# https://www.w3schools.com/howto/howto_js_scroll_indicator.asp #}
          // When the user scrolls the page, execute scrollIndicator 
          window.onscroll = function () {
            scrollIndicator()
          };

          function scrollIndicator() {
            var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
            var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            var scrolled = (winScroll / height) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
          }
      </script>
      <script>
        $(document).ready(function () {
          $('.wise-owl').hover(function () {
            $('.wise-owl-msg').fadeToggle();
          });
        });
      </script>
    {% endblock %}
  </body>
</html>
