{% extends 'base.html.twig' %}

{% block title %}{{ 'alex_seif'|trans }} - CBT Techniques{% endblock %}

{% block content %}
    <section class="fullpage">
        <div class="x-container">
            <header class="mt-5 mb-5">
                <h2 class="fittext text-end" >
			CBT Techniques
            </h2>
            </header>
            <p>Explore techniques such as thought records, behavioral experiments, and cognitive restructuring to address unhelpful thought patterns and behaviors.</p>
        </div>
    </section>
{% endblock %}
