{% extends 'default/base-minimalist.html.twig' %}
{% block title %}About Alex Seif [Vanity page]{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link href="/css/about.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block meta %}
  <meta property="og:title" content="About Alex Seif"/>
  <meta property="og:image" content="http://alexseif.com/images/alex-seif-vanity-page.png"/>
  <meta property="og:site_name" content="Alex Seif"/>
  <meta property="og:description" content="THE ELDERS OF THE INTERNET KNOW WHO I AM"/>	
{% endblock %}
{% block body %}
  {#  <div class="background"></div> #}
  {#  <div class="about-background"></div> #}
  <section>
    <div class="wrapper">
      <h1 id="responsive_headline">THE ELDERS OF THE INTERNET KNOW WHO I AM</h1>
      <div class="logo">
        <a href="{{path('homepage')}}">
          <div class="hexagon"><span></span></div>
          <h2>ALEX SEIF</h2>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/jquery.fittext.js"></script>
  <script>
    $("#responsive_headline").fitText();
  </script>
{% endblock %}
