{% extends '::base.html.twig' %}
{% block title %}Alex Seif - Web developer{% endblock %}
{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="/css/home.css" />
  <link type="text/css" rel="stylesheet" href="/css/christmas.css" />
{% endblock %}
{% block content %}
  <div class="site-wrapper">
    {% include 'sections/intro.html.twig' %}
    {% include 'sections/slogan.html.twig' %}
{#    {% include 'sections/pitch.html.twig' %}#}
{#    {% include 'sections/projects.html.twig' %}#}
  </div>
  {% include 'sections/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/jquery.fittext.js"></script>
  <script src="/js/scrollreveal.min.js"></script>
  <script src="/js/typed.min.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/christmas.js"></script>
  <script>
    function menu_open() {
      $('#navigation').addClass('navigation--egg-expanded');
      $('.burger').addClass('burger--is-expanded');
      $('.navigation__menu-item').addClass('navigation__menu-item--show-text');
      $('.navigation__menu-link').css('opacity', 1);
    }
    function menu_close() {
      $('#navigation').removeClass('navigation--egg-expanded');
      $('.burger').removeClass('burger--is-expanded');
      $('.navigation__menu-item').removeClass('navigation__menu-item--show-text');
      $('.navigation__menu-link').css('opacity', 0);
    }
    $('#navburger').click(function () {
      if ($('#navigation').hasClass('navigation--egg-expanded')) {
        menu_close();
      } else {
        menu_open();
      }
    });
  </script>
{% endblock %}
