{% extends '::base.html.twig' %}
{% block title %}Alex Seif - Web developer{% endblock %}
{% block stylesheets %}
  <link type="text/css" rel="stylesheet" href="/css/home.css" />
{% endblock %}
{% block content %}
  <div class="site-wrapper">
    {% include 'sections/intro.html.twig' %}
    {% include 'sections/slogan.html.twig' %}
    {% include 'sections/pitch.html.twig' %}
    {% include 'sections/projects.html.twig' %}
  </div>
  {% include 'sections/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="/js/scrollreveal.min.js"></script>
  <script src="/js/typed.min.js"></script>
  <script src="/js/home.js"></script>
{% endblock %}
