{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 left-side">
            <div class="clearfix" style="padding: 10px;">
                <div class="animated fadeIn intro" style="display: none;">Hi</div>
                <div class="my-photo animated fadeIn" style="display: none;">
                    <img src="images/alexseif.jpg" />
                </div>
                <div class="animated fadeIn intro" style="top: 180px;display: none;">I am</div>
                <h1 class="animated fadeIn" style="display: none;" >Alex <span style="color: red;"> Seif</span></h1>
            </div>
            <div class="col-sm-12 line" style="border-bottom: 1px solid #464545;"></div>
            <div class="logo mt-20"><img class='img-responsive' src="images/AlexSeifWRarLogo.png" /></div>
        </div>
        <div class="col-sm-6 right-side">
            <div class="intr-spacer hidden-md-down"></div>
            <h2 class="text-uppercase interactive-title" style="text-align: left;">
                Get <span id="pre-intr-text">your</span> <span id="interactive-text"></span>
            </h2>
        </div>
    </div>
    {# TODO: http://www.mattboldt.com/demos/typed-js/ #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="js/typed.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var d = 1000;
            $('.animated').each(function () {
                $(this).delay(d).fadeIn(2000);
                d += 1000;
            });
            $(window).resize(function () {
                $width = $(window).width();
                $('.my-photo').width($width * 0.16);
                $('.my-photo').height($width * 0.16);
            });

            $("#interactive-text").typed({
                strings: [
                    "Business online",
                    "Clients",
                    "Web Presence",
                    "Proper exposure",
        {#"<span class='text-bg-danger'>Business.</span>",
        "<span class='text-bg-warning'>Website.</span>",
        "<span class='text-bg-info'>Logo.</span>",
        "<span class='text-bg-success'>Clients.</span>",#}
                    ],
                    // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
                    stringsElement: null,
                    // typing speed
                    typeSpeed: 30,
                    // time before typing starts
                    startDelay: 0,
                    // backspacing speed
                    backSpeed: 0,
                    // time before backspacing
                    backDelay: 2000,
                    // loop
                    loop: true,
                    // false = infinite
                    loopCount: 2,
                    // show cursor
                    showCursor: true,
                    // character for cursor
                    cursorChar: "|",
                    // attribute to type (null == text)
                    attr: null,
                    // either html or text
                    contentType: 'text',
                    preStringTyped: function (count) {
                        switch (count) {
                            case 1:
                                $('#pre-intr-text').text("more");
                                break;
                            case 2:
                            case 3:
                                $('#pre-intr-text').text("");
                                break;
                            default:
                                $('#pre-intr-text').text("your");
                                break;
                        }
                    },
                });
            });
    </script>
{% endblock %}
