{% extends 'base.html.twig' %}

{% block content %}
    {# TODO: http://www.mattboldt.com/demos/typed-js/ #}
    <div class="container">
        <h1 class="text-uppercase interactive-title">
            <div class="slides"></div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 left-to-right">GET YOUR</div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><span id="interactive-text"></span></div>
            </div>
        </h1>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="js/typed.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#interactive-text").typed({
                strings: [
                    "<span class='text-bg-danger'>Business.</span>",
                    "<span class='text-bg-warning'>Website.</span>",
                    "<span class='text-bg-info'>Logo.</span>",
                    "<span class='text-bg-success'>Clients.</span>",
                ],
                // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
                stringsElement: null,
                // typing speed
                typeSpeed: 30,
                // time before typing starts
                startDelay: 0,
                // backspacing speed
                backSpeed: 0,
                // time before backspacing
                backDelay: 2000,
                // loop
                loop: true,
                // false = infinite
                loopCount: false,
                // show cursor
                showCursor: true,
                // character for cursor
                cursorChar: "|",
                // attribute to type (null == text)
                attr: null,
                // either html or text
                contentType: 'html',
            });
        });
    </script>
{% endblock %}
