<div class="page-elements">
  <div class="branding">
    <h1>
      <a href="#" class="" id="alx">ALEX SEIF</a>
    </h1>
  </div>
</div>

<nav class="navigation" id="navigation" style="transform: matrix(1, 0, 0, 1, 0, 0);">
  <button aria-label="Toggle navigation" class="navigation__hamburger" id="navburger">
    <div class="burger">
      <span class="burger__line burger__buns" style="width: 100%;">
      </span>
      <span class="burger__line burger__fillings" style="width: 100%;">
      </span>
      <span class="burger__line burger__buns burger__buns--bottom" style="width: 100%;">
      </span>
    </div>
  </button> 
  <div class="navegg" id="navegg"><div class="navegg__nest" style="width: 141px;"><div class="navegg__svg-container"><img alt="Navigation egg" src="data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTQxIDEyNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2M0MwIDI0Ljc2IDQwLjczNyAwIDc5LjI5OCAwUzE0MSAyNC43NiAxNDEgNjNjMCAzOC4yMzktMjMuMTQgNjMtNjEuNzAyIDYzQzQwLjczOCAxMjYgMCAxMDEuMjM5IDAgNjMiIGZpbGw9IiNDMjFFNEUiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==" class="navegg__svg"></div></div></div>
  <ul class="navigation__menu">
    <li class="navigation__menu-item navigation__menu-item--primary">
      <a class="navigation__menu-link navigation__menu-link--large navigation__menu-link--white-onred" href="/work" style="opacity: 0;">
        <span class="navigation__menu-label">Work</span>
        <span class="navigation__menu-background" style="background-image:url(/images/menu-work.jpg)">
        </span>
      </a>
    </li>
    <li class="navigation__menu-item">
      <a class="navigation__menu-link navigation__menu-link--beige-coal navigation__menu-link--beige-cool" href="/about" style="">
        <span class="navigation__menu-label">About</span>
        <span class="navigation__menu-background" style="background-image:url(/images/denton_menu2.jpg)">
        </span>
      </a>
    </li>
    <li class="navigation__menu-item">
      <a class="navigation__menu-link navigation__menu-link--red-white" href="/contact" style="">
        <span class="navigation__menu-label">Contact</span>
        <span class="navigation__menu-background" style="background-image:url(/images/menu-contact.jpg)">
        </span>
      </a>
    </li>
  </ul>
  <div class="social-links social-links--with-label" style="opacity: 0; height: 90px;">
    <div class="social-links__label">Share</div>
    <ul class="social-links__list social-links__list--horizontal">
      <li class="social-links__item">
        <a class="social-links__icon icon-twitter" href="https://twitter.com/home?status=https://natedentondesign.com/" target="_blank" rel="noopener" title="Twitter">
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__icon icon-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://natedentondesign.com/" target="_blank" rel="noopener" title="LinkedIn">
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__icon icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://natedentondesign.com/" target="_blank" rel="noopener" title="Facebook">
        </a>
      </li>
    </ul>
  </div>
</nav>