<div class="page-elements">
    <div class="pe-top">
        <h1>
            <a href="{{ path('homepage') }}" class="" id="alx">ALEX SEIF</a>
        </h1>
    </div><!-- .pe-top -->
    <div class="pe-bottom x-clearfix">
        <div class="x-menu-btn">
            <div class="x-menu-line"></div>
            <div class="x-menu-line"></div>
            <div class="x-menu-line"></div>
        </div>
    </div><!-- .pe-bottom -->
</div>
<div id="nav-container">
    <nav role="navigation">
        <div class="menu-container">
            <a href="#" class="x-link">About> me</a>
            <a href="#" class="x-link">my Work</a>
            <a href="#" class="x-link">The Future</a>
            <div class="x-social">
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('images/icons/014-instagram.svg') }}"
                            alt="Alex Seif Instragram" class="social-icon"></a>
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('images/icons/027-whatsapp.svg') }}" alt="Alex Seif Instragram"
                            class="social-icon"></a>
                <a href="https://www.instagram.com/freelancer_alex/" target="_blank" class="social-icon-link"><img
                            src="{{ asset('images/icons/013-facebook.svg') }}"
                            alt="Alex Seif Instragram" class="social-icon"></a>
            </div>
        </div>

    </nav>
</div>