{% extends 'base.html.twig' %}
{% block title %}Alex Seif - Symfony 2 Secret Generator{% endblock %}

{% block content %}
  {#  The brain can only register one pain at a time, if you're afraid from some pain, just imagine something you fear more #}
  <div class="container">
{#    #42699A #}
    <div class="pull-right" style="background-color: rgba(43,43,43,1);
         color: rgb(169,183,198);
         border-radius: 8px; padding-top: 15px;">
      <img alt="Alex Seif" class="img-responsive" id="logo" width="200"
           src="/images/alexseif-ar-logo.png" />
    </div>
    <div class="page-header">
      <h1>Symfony 2 Secret Generator</h1>
    </div>
    <p class="lead">{{ secret }}</p>
    <p>One of the first things you do when creating a new Symfony 2 project is setting your "secret". This secret string is 40 random characters that is used for <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery">CSRF</a> protection.</p>
    <p>It would be nice if Symfony just generated one for you. I can't imagine how many projects use the secret key ThisTokenIsNotSoSecretChangeIt.</p>
    <p>On load this page generates a string consisting of 40 random hex characters. Feel free to load it whenever you need a new secret key.</p>
    <p>From the <a href="http://symfony.com/doc/current/reference/configuration/framework.html#secret">Symfony docs</a>:</p>
    <h3>secret</h3>
    <p><strong>type</strong>: <tt class="docutils literal"><code>string</code></tt> <strong>required</strong></p>
  <p>This is a string that should be unique to your application. In practice,
    it's used for generating the CSRF tokens, but it could be used in any other
    context where having a unique string is useful. It becomes the service container
    parameter named <tt class="docutils literal"><code>kernel.secret</code></tt>.</p>
<div>
  This is a duplicate of http://nux.net/secret
  And based on https://stackoverflow.com/a/31107425/1030170
</div>
</div>
{% endblock %}
