{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/beta.css" />
  <style>
    body{
      {# font-family: 'Oswald';#}
    }
    canvas {
      {#      position: absolute;#}
      top: 0;
      left: 0;
    }
  </style>
  {% stylesheets "css/sass/hexagon_skill.scss" "css/sass/hexagon_social.scss" "css/sass/hexagon_grid.scss" filter="scssphp" output="css/app.css" %}
  <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}
{% block body %}
  <div id="loadingPage">
    <div class="contentArea">
      <!-- Loader -->
      <div class="post-wrapper">
        <div class="timeline-item">
          <div class="animated-background">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
            <div class="background-masker subheader-left"></div>
            <div class="background-masker subheader-right"></div>
            <div class="background-masker subheader-bottom"></div>
            <div class="background-masker content-top"></div>
            <div class="background-masker content-first-end"></div>
            <div class="background-masker content-second-line"></div>
            <div class="background-masker content-second-end"></div>
            <div class="background-masker content-third-line"></div>
            <div class="background-masker content-third-end"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul id="myMenu" style="position: fixed;">
    <li data-menuanchor="Hello" class="active"><a href="#Hello">Hello</a></li>
    <li data-menuanchor="Skills"><a href="#Skills">Skills section</a></li>
    <li data-menuanchor="Page2"><a href="#Page2">Second section</a></li>
    <li data-menuanchor="Page3"><a href="#Page3">Third section</a></li>
    <li data-menuanchor="Footer"><a href="#Footer">Fourth section</a></li>
    <li data-menuanchor="More"><a href="#More">Fourth section</a></li>
  </ul>
  {# TODO: http://alvarotrigo.com/fullPage/#firstPage #}
  {# TODO: http://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp #}
  {# TODO: https://www.facebook.com/alex.seif/timeline/story?ut=32&wstart=-2051193600&wend=2147483647&hash=10157968362415012&pagefilter=3&ustart=1 #}
  <div id="fullpage">
    <div class="section" data-anchor="Hello">
      {% include 'frontend/beta/hello_post.html.twig' %}
    </div>
    <div class="section" data-anchor="Skills">
      {% include 'frontend/beta/hexagon_skills.html.twig' %}
    </div>
    <div class="section" data-anchor="Page2">
      {% include 'frontend/beta/hexagon_portfolio.html.twig' %}
    </div>
    <div class="section" data-anchor="Page3">
      {% include 'frontend/beta/hexagon_social.html.twig' %}

      {#      {% include 'frontend/beta/honeycomb.html.twig' %}#}
    </div>
    <div class="section" data-anchor="Page4">
      <div class="container">
        <div class='text-center'>
          Hi I'm <h1>Alex Seif</h1>
          <div id="me">
            <img src='/images/alexseif.jpg' height='100%' width='auto'/>
          </div>
        </div>
        <div class="topic-outline">
          <ul>
            <li>I build <strong>Websites</strong></li>
            <li><strong>Websites</strong> are today's medium to deliver your <em>message</em></li>
            <li>My <em>clients</em> use their <strong>Website</strong> to enrich their visitor's experience</li>
            <li>I use my skill set to aid my <em>clients'</em> achieve their end goals</li>
          </ul>
        </div>
        <div id="site-description">
          {#      <p>typed placeholder</p>#}
        </div>
        <div id="skills-animated">
          <span class="skills-interactive"></span>
        </div>
      </div>
    </div>
    <div class="section fp-auto-height fp-auto-height-responsive" data-anchor="Footer">
      {% include 'frontend/beta/hexagon_social.html.twig' %}
    </div>
    <div class="section fp-auto-height fp-auto-height-responsive" data-anchor="More">More</div>
  </div>
  {# Lazy Loading #}
  {#<img data-src="image.png">
  <video>
    <source data-src="video.webm" type="video/webm" />
    <source data-src="video.mp4" type="video/mp4" />
  </video>#}
  {# TODO: http://www.mattboldt.com/demos/typed-js/ #}
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  {#  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/vendors/jquery.easings.min.js"></script>#}
  {#  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/vendors/scrolloverflow.min.js"></script>#}
{#  <script type="text/javascript" src="/js/honeycomb.js"></script>#}
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.2/jquery.fullPage.min.js"></script>
  <script type="text/javascript" src="/js/typed.min.js"></script>
  {# BOF Hexagon Skills Js #}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.ui.js"></script>
  <script type="text/javascript" src="/js/hexagon_skills.js"></script>
  {# EOF Hexagon Skills js #}
  <script type="text/javascript">
    function initPage() {
      $('#fullpage').fullpage({
        anchors: ['Hello', 'Skills', 'Page2', 'Page3', 'Page4', 'Footer', 'More'],
        menu: '#myMenu',
        sectionsColor: ['#e9ebee', '#4BBFC3', '#7BAABE', 'whitesmoke', '#000'],
        afterLoad: pageManagement
      });
      setTimeout(function () {
        $('.post-wrapper.hide').removeClass('hide');
        $('#loadingPage').hide();
      }, 1000);
    }
    function pageManagement(anchorLink, index) {
      switch (anchorLink) {
        case 'Hello':
          setTimeout(function () {
    {# $('.timeline-item').html('Hi I\'m Alex');#}
            }, 2000);
            break;
          case 'Page3':
    {#            typedManagement();#}
            break;
        }
      }
      function typedManagement() {
        $(".skills-interactive").typed({
    {# stringsElement: $('#site-description'),#}
          // typing speed
          typeSpeed: 30,
          // time before typing starts
          startDelay: 0,
          // backspacing speed
          backSpeed: 0,
          // time before backspacing
          backDelay: 2000,
          // loop
          loop: false,
          // false = infinite
          loopCount: 2,
          // show cursor
          showCursor: true,
          // character for cursor
          cursorChar: "|",
          // attribute to type (null == text)
          attr: null,
          // either html or text
          contentType: 'html',
          preStringTyped: function (count) {
            switch (count) {
              case 1:
                $('#pre-intr-text').text("more");
                break;
              case 2:
              case 3:
                $('#pre-intr-text').text("");
                break;
              default:
                $('#pre-intr-text').text("your");
                break;
            }
          },
        });
      }
      $(function () {
        initPage();
      });
  </script>
{% endblock %}
