{% extends 'base.html.twig' %}
{% block title %}AlexSeif - PHP Developer - Egypt | Freelancer{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  {% if ("prod" == app.environment) %}
    <link href="css/coming-soon.min.css" rel="stylesheet" />
  {% else %}
    <link href="css/coming-soon.css" rel="stylesheet" />
  {% endif %}
{% endblock %}
{% block content %}
  <div class="main" style="background-image: url('backgrounds/back{{ random(5) }}.jpg')">
    <div class="cover black" data-color="black"></div>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-md-8">
          <h1 class="logo vspacer">
            <img alt="Alex Seif" class="img-responsive" id="logo" src="images/alexseif-ar-logo.png"/>
          </h1>
        </div>
        <div class="col-md-2">
          <h4 class="motto mt200">
            Setting up shop <i class="fa fa-coffee fa" style="color: #ff0000"></i><br/>
          </h4>
          <a href="https://www.freelancer.com/affiliates/email/173199/" class="btn btn-default">
            <img src="https://www.freelancer.com/static/css/images/landingpage/hireme-widget-builder/fl-bird-icon.png"/>
            Hire me on Freelancer.com
          </a>
          <img src="//t.flnwdgt.com/1px.gif?username=AlexSeif&amp;en=externalHireme&amp;method=img&amp;label=hiremeEmailImpression&amp;ip=62.135.105.58&amp;type=emailSignature" alt="" style="float:left;">
        </div>
      </div>
    </div><!-- /.main-container -->
  </div><!-- /.main -->

{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="js/typed.min.js"></script>
  <script type="text/javascript">
    $(function () {
      var d = 1000;
      $('.animated').each(function () {
        $(this).delay(d).fadeIn(2000);
        d += 1000;
      });
      $(window).resize(function () {
        $width = $(window).width();
        $('.my-photo').width($width * 0.16);
        $('.my-photo').height($width * 0.16);
      });

      $("#interactive-text").typed({
        strings: [
          "Business online",
          "Clients",
          "Web Presence",
          "Proper exposure",
    {#"<span class='text-bg-danger'>Business.</span>",
    "<span class='text-bg-warning'>Website.</span>",
    "<span class='text-bg-info'>Logo.</span>",
    "<span class='text-bg-success'>Clients.</span>",#}
          ],
          // Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
          stringsElement: null,
          // typing speed
          typeSpeed: 30,
          // time before typing starts
          startDelay: 0,
          // backspacing speed
          backSpeed: 0,
          // time before backspacing
          backDelay: 2000,
          // loop
          loop: true,
          // false = infinite
          loopCount: 2,
          // show cursor
          showCursor: true,
          // character for cursor
          cursorChar: "|",
          // attribute to type (null == text)
          attr: null,
          // either html or text
          contentType: 'text',
          preStringTyped: function (count) {
            switch (count) {
              case 1:
                $('#pre-intr-text').text("more");
                break;
              case 2:
              case 3:
                $('#pre-intr-text').text("");
                break;
              default:
                $('#pre-intr-text').text("your");
                break;
            }
          },
        });
      });
  </script>
{% endblock %}
