{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
  <div>
    Design 1
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
