{% extends 'base.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/scss/ok.scss') }}" />
{% endblock %}
{% block body %}
  <div class="base">
    <h1 id="ok" onclick="okFunction()">Ok</h1>
  </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script>
    function okFunction() {
      var ok = document.getElementById("ok");
      ok.classList.toggle("hover");
    }
  </script>
{% endblock %}
