<!DOCTYPE html>
<html class='full'>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
      {# <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> #}
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" />
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="/css/admin/custom.css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% block body %}
      {% include ':admin:nav.html.twig' %}
      {% block container %}
        <div class="container">
          {% include ':admin:messages.html.twig' %}
          {% block content %}
            <div class="clearfix">
              {% block adminPageHeader %}
                <div class="row">
                  <div class="col-sm-8">
                    <span class="h1">{%block adminPageTitle%}Welcome Home{% endblock %}</span>
                  </div>
                  <div class="col-sm-4">
                    <div class="btn-group btn-group-sm pull-right">
                    {% block adminPageActions %}{% endblock %}
                  </div>
                </div>
              </div>
            {% endblock %}
          </div>
          <hr/>
          <div class="clearfix">
          {% block adminPageContent %}{% endblock %}
        </div>
        <hr/>          
        <div class="clearfix">
        {% block adminPageFooter %}{% endblock %}
      </div>

    {% endblock %}
  </div>
{% endblock %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(function () {
      //Default delete mechanism
      $('.delete-btn').click(function () {
        if (confirm('Are you sure you want to delete this!!?!')) {
          $deleteForm = $('#' + $(this).data('id'));
          if ($deleteForm.length) {
            $deleteForm.submit();
          } else {
            alert('Cannot find delete form: #' + $(this).data('id'));
          }
        }
      });

      //Default sortable mechanism      
      $(".sortable").sortable({
        placeholder: "ui-state-highlight",
        update: function (event, ui) {
          $url = $(this).data('url');
          if ($url) {
            var data = $(this).sortable("serialize", {"key": "portfolios[][id]", attribute: "data-order"});
            $.ajax({
              data: data,
              dataType: "json",
              type: 'POST',
              url: $(this).data('url')
            });
          }
        }
      });
      $(".sortable").disableSelection();
    });
  </script>
{% endblock %}
</body>
</html>