{% extends 'base.html.twig' %}

{% block title %}Edit Portfolio{% endblock %}

{% block content %}
    <section class="fullpage low-hanging">
        <div class="x-container text-end">
            <a href="{{ path('app_portfolio_index') }}">back to list</a>
            <header class="mb-5">
                <h2 class="fittext text-end">{{ 'Edit Portfolio'|trans }}</h2>
            </header>

            {{ include('portfolio/_form.html.twig', {'button_label': 'Update'}) }}


            {{ include('portfolio/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
