/*
The following content was designed & implemented under AlexSeif.com
*/
/*
    Created on : Jan 14, 2017, 11:10:24 AM
    Author     : Alex Seif <me@alexseif.com>
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/IBM-type/0.5.4/css/ibm-type.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/**
  * The following content was designed & implemented under AlexSeif.com
**/
body {
  font-family: "IBM Plex Sans", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background-color: #171717; }

h3 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bolder;
  line-height: 1em; }

h4 {
  width: 21vw;
  position: relative;
  right: 0;
  line-height: 1em; }

.x-clearfix {
  display: inline-block; }

* html .x-clearfix {
  height: 1%; }

.x-clearfix {
  display: block; }

.x-clearfix:after {
  height: 0;
  clear: both;
  font-size: 0;
  content: "\A";
  display: block;
  visibility: hidden; }

.fittext {
  font-weight: bolder;
  font-size: 2.5rem;
  transition: all 0.6s ease-in-out;
  line-height: 1em; }

.button {
  transition: all 0.2s ease-in-out;
  border: 1px solid white;
  background-color: white;
  padding: 1vh 1vw;
  color: #000;
  font-weight: bolder;
  text-decoration: none;
  text-transform: capitalize;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0; }

.button_slide {
  border: 2px solid #fff;
  border-radius: 0;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #FFF;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s; }

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #171717; }

.slide_right:hover {
  color: #fff;
  box-shadow: inset 400px 0 0 0 #171717; }

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #171717; }

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #171717; }

.page-elements {
  width: 10%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 21;
  padding: 21px 34px;
  caret-color: transparent; }
  .page-elements a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none; }
  .page-elements .pe-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 21px 34px; }

.x-menu-btn {
  z-index: 987;
  cursor: pointer;
  position: relative;
  height: 21px;
  width: 34px; }
  .x-menu-btn .x-menu-line {
    width: 34px;
    height: 2px;
    transform-style: preserve-3d;
    border-radius: 89px; }
    .x-menu-btn .x-menu-line:nth-child(2) {
      width: 55%;
      margin: 5px auto; }
    .x-menu-btn .x-menu-line:before, .x-menu-btn .x-menu-line:after {
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.9);
      border-radius: 89px;
      transition: transform 0.6s; }
  .x-menu-btn.x-open .x-menu-line {
    height: 21%; }
    .x-menu-btn.x-open .x-menu-line:nth-child(2) {
      display: none; }
    .x-menu-btn.x-open .x-menu-line:before, .x-menu-btn.x-open .x-menu-line:after {
      width: calc(50%); }
    .x-menu-btn.x-open .x-menu-line:before {
      left: 0;
      transform: skew(0deg, 35deg); }
    .x-menu-btn.x-open .x-menu-line:after {
      right: 0;
      transform: skew(0deg, -35deg); }
    .x-menu-btn.x-open .x-menu-line:first-child {
      top: 0; }
    .x-menu-btn.x-open .x-menu-line:last-child {
      bottom: 0;
      transform: rotate(180deg); }

#nav-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #171717;
  z-index: 12;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform-origin: 0 0;
  transform: translate(-100%, 0); }
  #nav-container .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; }
    #nav-container .menu-container .x-link {
      font-size: 55px;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);
      font-family: "Merriweather", serif;
      padding: 21px 34px;
      padding-left: 34%;
      text-transform: lowercase; }
      #nav-container .menu-container .x-link span {
        color: #418CFF; }
      #nav-container .menu-container .x-link:hover {
        color: #fff;
        text-transform: none; }
    #nav-container .menu-container .x-social {
      margin-top: 55px;
      margin-bottom: 34px;
      padding-left: 34%; }
      #nav-container .menu-container .x-social .social-icon-link {
        margin: 0 21px;
        display: inline-block;
        width: 21px; }
        #nav-container .menu-container .x-social .social-icon-link .social-icon {
          width: 100%;
          height: auto;
          filter: invert(1);
          opacity: 0.6; }
  #nav-container.x-open {
    transform: none; }

/*Keyframes*/
@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1; }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75; }
  10% {
    transform: none;
    opacity: 1; }
  27% {
    transform: none;
    opacity: 1; }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75; }
  35% {
    transform: none;
    opacity: 1; }
  52% {
    transform: none;
    opacity: 1; }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75; }
  50% {
    transform: none;
    opacity: 1; }
  72% {
    transform: none;
    opacity: 1; }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75; }
  80% {
    transform: none;
    opacity: 1; }
  100% {
    transform: none;
    opacity: 1; } }
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25; }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5; }
  10% {
    transform: none;
    opacity: 0.25; }
  27% {
    transform: none;
    opacity: 0.25; }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5; }
  35% {
    transform: none;
    opacity: 0.25; }
  52% {
    transform: none;
    opacity: 0.25; }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5; }
  50% {
    transform: none;
    opacity: 0.25; }
  72% {
    transform: none;
    opacity: 0.25; }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5; }
  80% {
    transform: none;
    opacity: 0.25; }
  100% {
    transform: none;
    opacity: 0.25; } }
@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25; }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5; }
  10% {
    transform: none;
    opacity: 0.25; }
  27% {
    transform: none;
    opacity: 0.25; }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5; }
  35% {
    transform: none;
    opacity: 0.25; }
  52% {
    transform: none;
    opacity: 0.25; }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5; }
  50% {
    transform: none;
    opacity: 0.25; }
  72% {
    transform: none;
    opacity: 0.25; }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5; }
  80% {
    transform: none;
    opacity: 0.25; }
  100% {
    transform: none;
    opacity: 0.25; } }
#noise-bg {
  animation: grain 14s steps(10) infinite;
  height: 300%;
  left: -50%;
  opacity: 0.02;
  position: fixed;
  top: -100%;
  width: 300%; }

#noise-canvas {
  display: none;
  width: 10px;
  height: 10px; }

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0); }
  10% {
    transform: translate(-5%, -10%); }
  20% {
    transform: translate(-15%, 5%); }
  30% {
    transform: translate(7%, -25%); }
  40% {
    transform: translate(-5%, 25%); }
  50% {
    transform: translate(-15%, 10%); }
  60% {
    transform: translate(15%, 0%); }
  70% {
    transform: translate(0%, 15%); }
  80% {
    transform: translate(3%, 35%); }
  90% {
    transform: translate(-10%, 10%); } }
#site-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative; }
  #site-wrapper .top-right {
    position: fixed;
    padding: 2vh 2vw;
    right: 0;
    z-index: 2; }
  #site-wrapper section {
    transition: padding 0.2s ease-in-out;
    scroll-snap-align: start;
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 6.25%;
    position: relative; }
    #site-wrapper section .x-container {
      position: relative;
      z-index: 2; }
    #site-wrapper section.fullpage {
      min-height: 100vh;
      text-align: right; }
      #site-wrapper section.fullpage .bottom-section {
        margin-top: 2rem; }

.x-container {
  float: right;
  width: 100%;
  max-width: 88.88889%;
  padding-left: 6.66667%;
  padding-right: 4.44444%; }

#announcements {
  display: none; }

footer {
  display: none; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em; }

  .fittext {
    font-size: 7.63889vw; }

  .x-container {
    max-width: 100%; } }

/*# sourceMappingURL=base.css.map */
