@charset "UTF-8";
/**
  * The following content was designed & implemented under AlexSeif.com
**/
@import 'var';




nav.footer-nav {
  display: flex;
  flex: 1 1 0;

  ul {
    list-style: none;
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      border-top: 4px solid rgba(0, 0, 0, 0.6);
      color: rgba(0, 0, 0, 0.6);
      margin: 0 5px;
      padding: 0 8px;

      a {
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
      }

      &:hover {
        border-color: orange;
      }


    }
  }
}
