@charset "UTF-8";
/**
  * The following content was designed & implemented under AlexSeif.com
**/
@import 'var';

$padding: 2vh 2vw;
$black: rgba(0, 0, 0, 0.9);
$white: rgba(255, 255, 255, 0.9);
$color: $white;
$purple-bg-img: linear-gradient(to right, #351552, #663399);
$body-bg-img: $purple-bg-img;
$body-bg: rgba(13, 13, 13, 1);
body {
  font-family: "IBM Plex Sans", sans-serif;
  color: $color;
}
.fittext {
  color: rgba(255, 255, 255, 0.8);
  font-weight: bolder;
  font-size: 13vw;
  transition: all 0.6s ease-in-out;
  line-height: 1em;
  // margin: 0;
}

.button {
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  padding: 1vh 1vw;
  color: $black;
  font-weight: bolder;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: white;
  }
}
.page-elements {
  width: 6.25%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 19;
  padding: $padding;

  a {
    color: $color;
    text-decoration: none;
  }
}

#noise-bg {
  animation: grain 14s steps(10) infinite;
  height: 300%;
  left: -50%;
  opacity: 0.01;
  position: fixed;
  top: -100%;
  width: 300%;
}

#noise-canvas {
  display: none;
  width: 10px;
  height: 10px;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

#site-wrapper {
  //background-image: $body-bg-img;
  background-color: $body-bg;
}

section.fullpage {
  padding: $padding;
  transition: padding 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  display: block;
  scroll-snap-align: start;
  text-align: right;

  .wrapper {
    z-index: 2;
  }

  h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: bolder;
    line-height: 1em;
  }

  h4 {
    width: 21vw;
    position: relative;
    right: 0;
    line-height: 1em;
  }
}

nav.footer-nav {
  display: flex;
  flex: 1 1 0;

  ul {
    list-style: none;
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      border-top: 4px solid rgba(0, 0, 0, 0.6);
      color: rgba(0, 0, 0, 0.6);
      margin: 0 5px;
      padding: 0 8px;

      a {
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
      }

      &:hover {
        border-color: orange;
      }


    }
  }
}
