{% extends 'base.html.twig' %}

{% block title %}Experiments
{% endblock %}

{% block meta_description %}
	<meta name="description" content="Explore experimental features and enhancements From codepen and accross the web"/>
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('experiments') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('experiments') }}
{% endblock %}


{% block body %}
	<section id="experiments">
		<div class="info">
			<h1>Experiments</h1>
			<a href="{{ path('app_experiments_cta') }}">CTA</a>
			<a href="{{ path('app_experiments_graph') }}">Graph</a>
			<a href="#illustrating-yin-yang">illustrating the structure of a ☯ symbol (SVG)</a>
			<a href="#yin-yang">Yin Yang</a>
			<a href="#yin-yang-2">Yin Yang 2</a>
		</div>
	</section>
	<section id="illustrating-yin-yang">
		<div class="info">
			<h2>illustrating the structure of a ☯ symbol (SVG)</h2>
			<a href="https://codepen.io/thebabydino/pen/XRYWrE" target="_blank">CodePen</a>
		</div>
		<svg viewbox='-13 -7 34 17' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>
			<marker id='a' viewbox='-8 -4 8 8' markerwidth='5' markerheight='5' orient='auto' refx='-7'>
				<path d='M-8 0 0-4V4'/>
			</marker>
			<marker id='a1' viewbox='0 -4 8 8' markerwidth='5' markerheight='5' refx='7' orient='auto'>
				<path d='M8 0 0-4V4'/>
			</marker>

			<!-- guides -->
			<path
			d='M13-6H0V9
																																																																																																																																											 M0 0h11M0-2h9M0-3h7M0-4h9M0 6h13M0 3h8
																																																																																																																																											 M-6 0V9M-3 3V7M6 0V9M3 3V7'/>

			<!-- the big circle -->
			<circle
			r='6'/>

			<!-- smaller (inner) circles -->
			<g id='c'>
				<circle r='3' cy='3'/>
				<circle r='1' cy='3'/>
			</g>
			<use xlink:href='#c' y='-6'/>

			<path
			d='M0 6
																																																																																																																																											 A6 6 0 0 1 0-6
																																																																																																																																											 A3 3 0 0 1 0 0
																																																																																																																																											 A3 3 0 0 0 0 6'/>

			<!-- small marker circles -->
			<g id='q'>
				<g id='p'>
					<circle r='.1' cy='2'/>
					<circle r='.1'/>
				</g>
				<use xlink:href='#p' y='4'/>
				<circle r='.1' cy='3'/>
			</g>
			<use xlink:href='#q' y='-6'/>
			<circle r='.1' cx='-6'/>
			<circle r='.1' cx='6'/>
			<circle r='.1' cx='-3' cy='3'/>
			<circle
			r='.1' cx='3' cy='3'/>

			<!-- meas lines & text -->
			<g id='m'>
				<path d='M8-6v2'/>
				<text x='8.2' y='-4.8'>r/3</text>
			</g>
			<use xlink:href='#m' y='2'/>
			<use xlink:href='#m' y='4'/>
			<g id='m1'>
				<path d='M10.5 0v6'/>
				<text x='10.7' y='3.25'>r</text>
			</g>
			<use xlink:href='#m1' y='-6'/>
			<g id='m3'>
				<path d='M-6 8.5h6'/>
				<text x='-3.15' y='9.3'>r</text>
				<g id='m2'>
					<path d='M-6 6.5h3'/>
					<text x='-5.15' y='7.3'>r/2</text>
				</g>
				<use xlink:href='#m2' x='3'/>
			</g>
			<use xlink:href='#m3' x='6'/>
			<g id='m4'>
				<path d='M7 0v3'/>
				<text x='7.3' y='1.7'>r/2</text>
			</g>
			<use xlink:href='#m4' y='3'/>
			<g>
				<path d='M6.5-2v1m0-3v1'/>
				<text x='5.8' y='-2.3'>r/6</text>
				<path d='M12.5-6V6'/>
				<text x='13' y='.25'>d = 2·r</text>
				<text x='9' y='8'>r = d/2</text>
			</g>

			<!-- diameter end points -->
			<text y='-6.2'>A</text>
			<text y='5.8'>B</text>
		</svg>

	</section>
	<section id="yin-yang">
		<div class="info">
			<h2>Yin-Yang</h2>
			<a href="https://codepen.io/sfi0zy/pen/rMwBVK" target="_blank">CodePen</a>
		</div>
		<div id="yin-yang">
			<div class="yin-yang"></div>
		</div>
	</section>
	<section id="yin-yang-2">
		<div class="info">
			<h2>clip-path: shape()</h2>
			<a href="https://codepen.io/donotfold/pen/GggWpBg" target="_blank">CodePen</a>
		</div>
		<div id='yin-yang'>
			<div class='yin-yang'></div>
		</div>
	</section>
{% endblock %}
