{% extends ':admin:base.html.twig' %}

{% block adminPageTitle %}Portfolios{% endblock %}
{% block adminPageActions %}
  <a href="{{ path('admin_portfolio_new') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
  {% endblock %}

{% block adminPageContent %}
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for portfolio in portfolios %}
        <tr>
          <td>{{ portfolio.title }}</td>
          <td>
            <div class="btn-group btn-group-sm">
            <a href="{{ path('admin_portfolio_show', { 'id': portfolio.id }) }}"
               class="btn btn-info">
              <span class="glyphicon glyphicon-folder-open"></span></a>
            <a href="{{ path('admin_portfolio_edit', { 'id': portfolio.id }) }}"
               class="btn btn-primary">
              <span class="glyphicon glyphicon-pencil"></span></a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

