<section class="fullpage intro clearfix" id="home">
	<div class="x-container" id="special-home-container">
		<header>
			<h2 class="fittext" id="my-title">Freelance
				<span>Web Developer</span>
				{# <span>with 20 Years of Experience</span> #}
				<span>Copy Paster</span>
			</h2>
		</header>

		<div class=" bottom-section" id=" my-description">
			<div>
				Expert in
				{{ 'web_presence'|trans }},
			</div>
			<div>
				{{ 'ecommerce'|trans }}
				Solutions,
			</div>
			<div>
				{{ 'travel_technology'|trans }}
				Innovations,
			</div>
			<div>
				{{ 'ngo'|trans }}
				Projects,
			</div>
			<div>
				eLearning Platforms,
			</div>
			<div>
				eGovernment Services
			</div>
			<br/>
			<a class='button start-project button_slide slide_right' href="https://wa.me/+201004006332" target="_blank">Start Your Project</a>
		</div>
		<!-- .bottom-section -->
	</div>
</section>
