<section id="home">
  <div class="container fullpage">
    <div class="flow">
      <header>
        <h2 class="fittext" id="my-title">
          Freelance
          <span>web developer</span>
          <span>Copy Paster</span>
        </h2>
        <h3>Built for impact,<br /> <em>Designed to convert,</em><br /> Cairo tested.</h3>
      </header>
      <div class="flow space-between column">
        <div class="card">
          <div class="badge-row">
            <div class="badge">{{ 'web_presence'|trans }}</div>
            <div class="badge">{{ 'ecommerce'|trans }}
              Solutions</div>
            <div class="badge">{{ 'travel_technology'|trans }}
              Innovations</div>
            <div class="badge">{{ 'ngo'|trans }}
              Projects</div>
            <div class="badge">eLearning Platforms</div>
            <div class="badge">eGovernment Services</div>
          </div>
        </div>
        <div class="text-end">
          <a class="cta" href="https://wa.me/+201004006332" target="_blank">Start Your Project</a>
        </div>
        <!-- .card -->
      </div>
    </div>
    <!-- .flow -->
  </div>
  <!-- .container -->
</section>
