<section id="value">
  <div class="container">
    <div class="flow">
      <div>
        <h2>Providing Value Through Digital Experiences</h2>
      </div>
      <div class="card shadow">
        <header>
          <h3>My Values</h3>
        </header>
        <div class="">
          <ul>
            <li>
              <p>
                I pride myself on <strong>building long-term relationships</strong> with my clients, effectively communicating their value through their websites, and enhancing their connection with their audience.
              </p>
            </li>
            <li>
              <p>
                As a PHP freelance developer, I specialize in delivering tailored web <strong>solutions that drive success</strong>. 🚀 My expertise in fullstack development ensures robust, scalable, and user-friendly applications.
              </p>
            </li>
            <li>
              <p>
                <strong>Attention to detail</strong> ensures that each project not only meets but exceeds client expectations. Whether you need custom web development, consultation, seamless integration, or ongoing support, I'm here to turn your vision into reality. 💡
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- .card -->
  </div>
  <!-- .container -->
</section>
