{% extends 'base.html.twig' %}
{% block title %}
  {{ 'alex_seif'|trans }}
  -
  {{ 'web_developer'|trans|capitalize }}
{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block nav %}

{% endblock %}
{% block content %}
  <div id="fullpages" class="scrollsign">
    {# TODO: menu #}
    <section id="hero">
      {# TODO: Hero #}
    </section>
    <section id="how">
      {# TODO: Seperate floating menu #}
      {# TODO: How it's done #}
      {# TODO: 1. Online presence #}
      {# TODO: 2. Structured Data #}
      {# TODO: 3. Trust signals #}
      {# TODO: 4. Align with your values #}
      {# TODO: The technologies #}
      {# TODO: The expertise #}
      {# TODO: The results #}
      {# TODO: About me #}
      {# TODO: 1. Culture #}
      {# TODO: 2. Awards #}
      {# TODO: 3. Impact #}
      {# TODO: 3. Careers #}
      {# TODO: Intake form #}
      {# TODO: Journal #}
    </section>
  </div>
  <!-- #fullpages -->
{% endblock %}
{% block footer %}
  {# TODO: Footer #}
{% endblock %}
{% block announcements %}

{% endblock %}
{% block javascripts %}

{% endblock %}

{# https://www.awwwards.com/sites/won-j-you-studios-2 #}
{# https://wonjyou.studio/ #}
{# https://www.awwwards.com/sites/walrus #}
{# https://www.walrus.xyz/ #}
{# https://www.awwwards.com/sites/18-years-of-buro #}
{# https://18.burocratik.com/?chapter1 #}
{# https://www.awwwards.com/sites/purpose-talent #}
{# https://www.purposetalent.xyz/ #}
