{% extends 'base.html.twig' %}
{% block title %}{{ 'alex_seif'|trans }} - {{ 'web_developer'|trans|capitalize }}{% endblock %}
{% block content %}
    <div id="fullpages">
        {{ include('default/_page_1.html.twig') }}
        {{ include('default/_page_2.html.twig') }}
    </div><!-- #fullpages -->
{% endblock %}
{% block announcements %}
{% endblock %}

