{% extends 'base.html.twig' %}
{% block title %}Web Evolution |
	{{ 'alex_seif'|trans }}
	-
	{{ 'web_developer'|trans|capitalize }}
{% endblock %}
{% block content %}
	<section class="fullpage clearfix" id="web-evolution">
		<canvas class="background-grid"></canvas>
		<div class="x-container">
			<header>
				<h2 class="fittext">Evolution<br/>
					<small class="fs-1">of the</small><br/>
					Web</h2>
			</header>
			<section id="web-evolution-milestones">
				<h2>
					<span class="fittext">1990s</span>
					<br/>
					<span class="text-secondary">Birth of the Web</span>
				</h2>
				<h3>Web 1.0</h3>
				<p class="text-secondary">The era of static websites and read-only content.</p>
				<hr>
				<ul>
					<li>
						<span>1990:</span>
						Tim Berners-Lee invented the World Wide Web.</li>
					<li>
						<span>1993:</span>
						Mosaic, the first widely used web browser, was introduced.</li>
					<li>
						<span>1995:</span>
						Introduction of JavaScript by Netscape.</li>
					<li>
						<span>1995:</span>
						Launch of Amazon and eBay, marking the start of eCommerce.</li>
					<li>
						<span>1998:</span>
						Google was founded, changing the way we search the internet.</li>
				</ul>
				<h2>
					<span class="fittext">2000s</span>
					<br/>
					<span class="text-secondary">Web 2.0 and the Rise of Social Media
					</span>
				</h2>
				<h3>Web 2.0</h3>
				<p class="text-secondary">The era of dynamic content, user interaction, and social media.</p>
				<hr>
				<ul>
					<li>
						<span>2001:</span>
						Launch of Wikipedia.</li>
					<li>
						<span>2004:</span>
						Facebook was launched.</li>
					<li>
						<span>2005:</span>
						YouTube was launched.</li>
					<li>
						<span>2006:</span>
						jQuery was released, simplifying JavaScript programming.</li>
				</ul>
				<h2>
					<span class="fittext">2010s</span>
					<br/>
					<span class="text-secondary">
						The Rise of Modern Web Technologies</span>
				</h2>
				<h3>Web 3.0</h3>
				<p class="text-secondary">The era of semantic web, advanced web applications, and decentralized technologies.</p>
				<hr>
				<ul>
					<li>
						<span>2010:</span>
						HTML5 was released, adding new features for web developers.</li>
					<li>
						<span>2011:</span>
						Introduction of Bootstrap, aiding in responsive web design.</li>
					<li>
						<span>2014:</span>
						Google introduced Material Design.</li>
					<li>
						<span>2015:</span>
						ECMAScript 6 (ES6) was released, bringing significant improvements to JavaScript.</li>
					<li>
						<span>2016:</span>
						Introduction of Progressive Web Apps (PWAs).</li>
					<li>
						<span>2017:</span>
						React and Vue.js gained massive popularity.</li>
					<li>
						<span>2018:</span>
						WebAssembly (Wasm) reached MVP, enabling high-performance applications in web browsers.</li>
					<li>
						<span>2019:</span>
						Introduction of JAMstack architecture.</li>
				</ul>
				<h2>
					<span class="fittext">2020s</span>
					<br/>
					<span class="text-secondary">
						Modern Web Development</span>
				</h2>
				<h3>Web 3.0</h3>
				<p class="text-secondary">Continued advancements in web technologies and frameworks.</p>
				<hr>
				<ul>
					<li>
						<span>2020:</span>
						Launch of Next.js, enhancing server-side rendering and static site generation.</li>
					<li>
						<span>2020:</span>
						COVID-19 pandemic increased the demand for contactless solutions and online services.</li>
					<li>
						<span>2021:</span>
						Popularity of WebAssembly, enabling high-performance applications in web browsers.</li>
					<li>
						<span>2022:</span>
						Introduction of new JavaScript frameworks like SvelteKit and Qwik.</li>
					<li>
						<span>2023:</span>
						Continued growth of Progressive Web Apps (PWAs).</li>
				</ul>
			</section>
		</div>
	</section>
{% endblock %}
