// Body
//$body-bg: #1c1c1c;
//$body-color: #fff;
$spacer: 1rem;
$navbar-padding-y: $spacer * 1;

// Typography
//$font-size-base: 12; // this changes the font-size throughout bootstrap
$font-family-sans-serif: "IBM Plex Sans", sans-serif;

//$font-size-base: 1.2rem;
//$line-height-base: 1.6;

// $border-radius: 0;
$min-contrast-ratio: 2;