section#home {
  transition: padding 0.2s ease-in-out;
  scroll-snap-align: start;
  margin-bottom: 10vh;
  position: relative;

  .x-container {
    position: relative;
    z-index: 2;
  }

  #special-home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
  }

  header {
    // padding-top: 15rem;
    // padding-bottom: 10rem;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }


  &.fullpage {
    text-align: right;
    padding-bottom: 0;

    #wordpress-optimization {
      position: relative;
      background: linear-gradient(to bottom, transparent 0%, transparent 100px, $black 150px, $black 100%);

      .img-wrapper {
        margin-right: 0;
        margin-bottom: 1rem;
        flex: 0 0 200px;
        height: 200px;
        overflow: hidden;
      }

      .title-wrapper {
        flex: 1 1 auto;
        color: white;
      }

      .cta-wrapper {
        position: relative;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .bottom-section {
      margin-bottom: 8rem;

      p {
        font-size: 150%;
      }
    }
  }
}

/**
Home.scss
 */

#my-title {
  span:last-child {
    display: none;
  }

  &:hover {
    span:first-child {
      text-decoration: line-through;
      color: rgba(255, 255, 255, 0.6);
    }

    span:last-child {
      display: initial;
    }
  }
}

#my-description {
  div {
    display: inline;

    div {
      position: absolute;
      display: none;

      span {
        position: relative;
        left: -160px;

        &:nth-child(1) {
          top: -80px;
        }

        &:nth-child(2) {
          top: -60px;
        }

        &:nth-child(3) {
          top: -40px;
        }

        &:nth-child(4) {
          top: -20px;
        }
      }
    }
  }
}

// Desktop
@media only screen and (min-width: 768px) {
  section#home {
    &.fullpage {
      #wordpress-optimization {
        background: linear-gradient(to right, transparent 0%, transparent 100px, $black 150px, $black 100%);

        .img-wrapper {
          margin-right: 1rem;
        }

        a {
          text-decoration: none;
        }

        .cta-wrapper {
          position: absolute;
          bottom: 10px;
          right: 10px;
        }
      }

      .bottom-section {
        margin-bottom: 6rem;
      }
    }
  }
}