@import "var";

.x-menu-btn {
  display: none;
  z-index: 987;
  cursor: pointer;
  position: relative;
  height: 21px;
  width: 34px;

  .x-menu-line {
    width: 34px;
    height: 2px;
    // transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    // 	rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    // background-color: rgba(255, 255, 255, 0.9);
    border-radius: 89px;

    &:nth-child(2) {
      width: 55%;
      margin: 5px auto;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.9);
      border-radius: 89px;
      transition: transform 0.6s;
    }
  }

  &.x-open {
    .x-menu-line {
      height: 21%;

      &:nth-child(2) {
        display: none;
      }

      &:before,
      &:after {
        width: calc(50%);
      }

      &:before {
        left: 0;
        transform: skew(0deg, 35deg);
      }

      &:after {
        right: 0;
        transform: skew(0deg, -35deg);
      }

      &:first-child {
        top: 0;
      }

      &:last-child {
        bottom: 0;
        transform: rotate(180deg);
      }
    }
  }
}

#nav-container {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $body-bg;
  z-index: 12;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transform-origin: 0 0;
  transform: translate(-100%, 0);

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .x-link {
      font-size: 55px;
      text-decoration: none;
      color: $white;
      font-family: $font-serif;
      padding: 21px;
      padding-left: 34%;
      text-transform: lowercase;

      &:hover {
        color: #fff;
        text-transform: none;
      }
    }

    .x-social {
      margin-top: 55px;
      margin-bottom: 34px;
      padding-left: 34%;

      .social-icon-link {
        margin: 0 21px;
        display: inline-block;
        width: 21px;

        .social-icon {
          width: 100%;
          height: auto;
          filter: invert(1);
          opacity: 0.6;
        }
      }
    }
  }

  &.x-open {
    transform: none;
  }

}

.side-nav {
  width: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 21;
  caret-color: transparent;
  transition: opacity 0.5s ease-in-out;

  &.scrolled {
    opacity: 0.4; // adjust the opacity value as needed
  }

  h1,
  h2 {
    margin: 0;
  }

  header,
  footer {
    width: 100%;
  }

  a {
    color: $color;
    text-decoration: none;
    width: 100%;
    display: block;
  }

  #logo-div,
  #trophy-div {
    position: relative;
    perspective: 1000px;

    img,
    svg {
      transition: transform 0.5s, opacity 0.5s;
      transform-style: preserve-3d;
      /* Preserve 3D transformations */
    }

    span {
      opacity: 0;
      /* Initially hide the span */
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      transform: rotateY(180deg);
      /* Initially flip the span to the back */
      transition: transform 0.5s, opacity 0.5s;
      transform-style: preserve-3d;
      /* Preserve 3D transformations */
    }

    &:hover {

      img,
      svg {
        transform: rotateY(180deg);
        /* Flip and scale down the image on hover */
        opacity: 0;
      }

      span {
        display: block;
        /* Make the span appear on hover */
        transform: rotateY(0deg);
        /* Flip the span to the front on hover */
        transform-style: preserve-3d;
        /* Preserve 3D transformations */
        opacity: 1;
      }
    }

  }
}

nav.footer-nav {
  display: flex;
  flex: 1 1 0;

  ul {
    list-style: none;
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      border-top: 4px solid rgba(0, 0, 0, 0.6);
      color: rgba(0, 0, 0, 0.6);
      margin: 0 5px;
      padding: 0 8px;

      a {
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
      }

      &:hover {
        border-color: orange;
      }
    }
  }
}

// Desktop
@media only screen and (min-width: 768px) {
  .side-nav {
    width: 10rem;

  }
}