<section id="intro">
  <header>
    <div class="container">
      <div id="personal-intro" class="banner">
        <div class="image-wrapper">
          <img src="{{ asset('build/images/2023-06-22.webp') }}" alt="Alex Seif, freelance web developer" width="" fetchpriority="high" />
        </div>
        <div>{{ 'wordpress_optimize.header.subtitle'|trans|raw|nl2br }}</div>
      </div>
    </div>
  </header>
</section>
