<section>
  <header>
    <div class="container">
      <div id="personal-intro" class="banner">
        <div class="image-wrapper">
          <img src="{{ asset('build/images/2023-06-22.jpg') }}" alt="Alex Seif, {{ 'wordpress_optimize.meta.job_title'|trans }}" class="" />
        </div>
        <div>
          <p>{{ 'wordpress_optimize.header.subtitle'|trans|nl2br }}</p>
        </div>
      </div>
    </div>
  </header>
</section>
