<nav role="navigation">
  <ul>
    <li>
      <a href="#why">Why It Works</a>
    </li>
    <li>
      <a href="#clients">Work</a>
    </li>
    <li>
      <a href="#pricing">Pricing</a>
    </li>
    <li>
      <a href="#faq">FAQ</a>
    </li>
  </ul>
</nav>
