{% extends 'base.html.twig' %}
{% block title %}PHP Web Developer | Alex Seif{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link href="/css/careers.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block meta %}
  <meta property="og:title" content="PHP Web Developer | Alex Seif"/>
  <meta property="og:image" content="http://alexseif.com/images/alex-seif-business-card.png"/>
  <meta property="og:site_name" content="Alex Seif"/>
  <meta property="og:description" content="THE ELDERS OF THE INTERNET KNOW WHO I AM"/>	
{% endblock %}
{% block body %}
  <header>
    <div class="logo">
      <a href="{{path('homepage')}}">
        <div class="hexagon"><span></span></div>
        <h2>ALEX SEIF</h2>
      </a>
    </div>
  </header>
  <section>
    <div class="wrapper">
      <h1>PHP Web Developer Wanted</h1>
      <div class="container">
        <p>
          Multiple positions and opportunities are available for PHP Web developers, who share our values and that are proficient at their relative level of experience.
        </p>
        <table class="table">
          <tr>
            <td>
              <strong>Job Type</strong>
            </td>
            <td>
              <span class="label label-default">Full Time</span>
              <span class="label label-default">Part Time</span>
              <span class="label label-default">Contract</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Experience Level</strong> 
            </td>
            <td>
              <span class="label label-default">Junior</span>
              <span class="label label-default">Mid-level</span>
              <span class="label label-default">Senior</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Role</strong> 
            </td>
            <td>
              <span class="label label-default">Full Stack Developer</span>
              <span class="label label-default">BackEnd Developer</span>
              <span class="label label-default">Web Developer</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Location:</strong> 
            </td>
            <td>
              <span class="label label-default">Cairo</span>
              <span class="label label-default">Alexandria</span>
              <span class="label label-default">Remote</span>
            </td>
          </tr>
        </table>
        <dl>
          <dt><h3>PHP Developer</h3></dt>
          <dd>
            <p>
              A PHP developer is responsible for writing server-side web application logic. PHP developers usually develop back-end components, connect the application with the other (often third-party) web services, and support the front-end developers by integrating their work with the application. They are also often required to develop and integrate plugins for certain popular frameworks.
            </p>
          </dd>
        </dl>
        <h2>Job Description</h2>
        <p>
          We are looking for a PHP Developer responsible for managing back-end services and the interchange of data between the server and the users. Your primary focus will be the development of all server-side logic, definition and maintenance of the central database, and ensuring high performance and responsiveness to requests from the front-end. You will also be responsible for integrating the front-end elements. Therefore, understanding of front-end technologies is necessary as well.
        </p>
        <h2>
          Responsibilities
        </h2>
        <ul>
          <li>
            Integration of user-facing elements developed by front-end developers
          </li>
          <li>
            Build efficient, testable, and reusable PHP modules
          </li>
          <li>
            Solve complex performance problems and architectural challenges
          </li>
          <li>
            Integration of data storage solutions 
          </li>
        </ul>
        <h2>
          Skills And Qualifications
        </h2>
        <ul>
          <li>
            Knowledge of PHP web frameworks such as Symfony 
          </li>
          <li>
            Understanding the fully synchronous behavior of PHP
          </li>
          <li>
            Understanding of MVC design patterns
          </li>
          <li>
            Basic understanding of front-end technologies, such as JavaScript, HTML5, and CSS3
          </li>
          <li>
            Knowledge of object oriented PHP programming
          </li>
          <li>
            Understanding accessibility and security compliance 
          </li>
          <li>
            Strong knowledge of the common PHP or web server exploits and their solutions
          </li>
          <li>
            Understanding fundamental design principles behind a scalable application
          </li>
          <li>
            User authentication and authorization between multiple systems, servers, and environments
          </li>
          <li>
            Integration of multiple data sources and databases into one system
          </li>
          <li>
            Familiarity with limitations of PHP as a platform and its workarounds
          </li>
          <li>
            Creating database schemas that represent and support business processes
          </li>
          <li>
            Familiarity with SQL/NoSQL databases and their declarative query languages
          </li>
          <li>
            Proficient understanding of code versioning tools, such as Git
          </li>
          <li>
            Comfortable in speaking, reading and writing in Arabic & English
          </li>
        </ul>
        <hr/>
        <p class="text-center">
          <a href="https://goo.gl/forms/pTj2ttuh6NAFdSgn1" target="_blank"
             class="btn btn-primary btn-lg">Apply</a>
        </p>
        
        <blockquote>
          If you have any existing open source software that you've developed (these could be your own software or patches to other packages), please share the URLs for the source. Links to your projects on GitHub.
        </blockquote>
      </div>
    </div>
  </section>
{% endblock %}
