{% extends 'base.html.twig' %}
{% block title %}Drupal Developer Wanted | Alex Seif{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  <link href="/css/main.css" type="text/css" rel="stylesheet" />
  <link href="/css/careers.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block meta %}
  <meta property="og:title" content="Drupal Developer Wanted | Alex Seif"/>
  <meta property="og:image" content="http://alexseif.com/images/alex-seif-business-card.png"/>
  <meta property="og:site_name" content="Alex Seif"/>
  <meta property="og:description" conten="Multiple positions and opportunities are available for Drupal developers, who share our values and that are proficient at their relative level of experience."/>	
{% endblock %}
{% block body %}
  <header>
    <div class="logo">
      <a href="{{path('homepage')}}">
        <h2>ALEX SEIF</h2>
      </a>
    </div>
  </header>
  <section>
    <div class="wrapper">
      <h1>Drupal Developer Wanted</h1>
      <div class="container">
        <p>
          Multiple positions and opportunities are available for Drupal developers, who share our values and that are proficient at their relative level of experience.
        </p>
        <table class="table">
          <tr>
            <td>
              <strong>Job Type</strong>
            </td>
            <td>
              <span class="label label-default">Full Time</span>
              <span class="label label-default">Part Time</span>
              <span class="label label-default">Contract</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Experience Level</strong> 
            </td>
            <td>
              <span class="label label-default">Junior</span>
              <span class="label label-default">Mid-level</span>
              <span class="label label-default">Senior</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Role</strong> 
            </td>
            <td>
              <span class="label label-default">Full Stack Developer</span>
              <span class="label label-default">BackEnd Developer</span>
              <span class="label label-default">Web Developer</span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Location:</strong> 
            </td>
            <td>
              <span class="label label-default">Cairo</span>
              <span class="label label-default">Alexandria</span>
              <span class="label label-default">Remote</span>
            </td>
          </tr>
        </table>
        <dl>
          <dt><h3>Drupal</h3></dt>
          <dd>
            <p>
              Drupal is an open source content management platform powering millions of websites and applications around the world. It’s built, used, and supported by an active and diverse community of people internationally.
            </p>
          </dd>
        </dl>
        <h2>Job Description</h2>
        <p>
          We are looking for a Drupal Developer responsible for front-end development, theming and back-end/module development. This position requires a combination of programming skills (PHP, HTML, CSS, JS, TWIG etc.) and aesthetics (understanding element arrangements on the screen, the color and font choices, and so on). The best candidates have a strong understanding of industry trends and content management systems. Experience with responsive and adaptive design is strongly preferred. In addition, an understanding of the entire web development process, including design, development and deployment, with some back-end knowledge, is preferred.
        </p>
        <h2>
          Responsibilities
        </h2>
        <ul>
          <li>
            Responsible for helping formulate an effective, responsive design and turning it into a working theme. Work closely with back-end developers and customers to ensure an effective, visually appealing, and intuitive implementation.          </li>
          <li>
            Responsible for designing and implementing new features and functionality, establishing and guiding the website’s architecture, ensuring high-performance and availability, and managing all technical aspects of the CMS. Work closely with front-end developers and customers to ensure an effective, visually appealing, and intuitive implementation.
          </li>
        </ul>
        <h2>
          Skills And Qualifications
        </h2>
        <ul>
          <li>
            Experience building user interfaces for websites and/or web applications
          </li>
          <li>
            Extremely fluent with HTML5/XHTML and CSS
          </li>
          <li>
            Experience working with PHP, JavaScript, and jQuery
          </li>
          <li>
            Ability to write JavaScript with and without the use of frameworks such as jQuery
          </li>
          <li>
            Experience designing and developing responsive design websites
          </li>
          <li>
            Comfortable working with debugging tools like Firebug, Chrome inspector, etc.
          </li>
          <li>
            Ability to understand CSS changes to have consistent style across platforms and browsers
          </li>
          <li>
            Ability to convert comprehensive layout and wireframes into working HTML pages
          </li>
          <li>

          </li>
          <li>

          </li>
          <li>
            Experience developing web solutions in Drupal and PHP implementations in a LAMP environment
          </li>
          <li>
            Ability to architect enterprise Drupal solutions including data, display, and information architecture
          </li>
          <li>
            Advanced site-building experience including deep familiarity with Drupal modules such as CTools, Views, and Panels
          </li>
          <li>
            Experience creating custom Drupal modules
          </li>
          <li>
            Experience building responsive websites using Drupal CMS, HTML/HTML5, CSS/CSS3, and JavaScript/jQuery
          </li>
          <li>
            Knowledge of PHP, PHP files and theme functions, and knowledge of the Drupal theme layer
          </li>
          <li>
            Through understanding of the Software Development Lifecycle (e.g. Requirements, Design, Development, Testing) and exposure to Agile or iterative SDLCs.
          </li>
        </ul>
        <hr/>
        <p class="text-center">
          <a href="https://goo.gl/forms/pTj2ttuh6NAFdSgn1" target="_blank"
             class="btn btn-primary btn-lg">Apply</a>
        </p>

        <blockquote>
          If you have any existing open source software that you've developed (these could be your own software or patches to other packages), please share the URLs for the source. Links to your projects on GitHub.
        </blockquote>
      </div>
    </div>
  </section>
{% endblock %}
