<section class="full-page christmas" id="christmas">
  <div class="wrapper">
    <div class="christmas-container">
      <input type="radio" name="list" id="hella-naughty"/>
      <label for="hella-naughty">Hella Naughty</label>
      <input type="radio" name="list" id="naughty"/>
      <label for="naughty">Naughty</label>
      <input type="radio" name="list" id="nice"/>
      <label for="nice">Nice</label>
      <input type="radio" name="list" id="super-nice"/>
      <label for="super-nice">Super Nice</label>
      <div class="santa">
        <div class="hat">
          <div class="front"></div>
          <div class="tail"></div>
        </div>
        <div class="eye left"></div>
        <div class="brow left"></div>
        <div class="eye right"></div>
        <div class="brow right"></div>
        <div class="ear left"></div>
        <div class="ear right"></div>
        <div class="mustache"></div>
        <div class="nose"></div>
        <div class="mouth"></div>
        <div class="beard"></div>
      </div>
      <div class="credits">Credits <a href="https://codepen.io/hexagoncircle" target="_blank">Ryan Mulligan</a></div>
    </div>
  </div>
</section>