<section class="full-page intro">
  <div class="wrapper">
    <header>
      <h2 class="fittext">Software, app and web developer</h2>
    </header>
    <div class="bottom-section">
      <p>
        Custom software, mobile applications and websites I build, help you increase profit, minimize risk and make your business more efficient.
      </p>
{#      <a class='button start-project' href="mailto:contact@alexseif.com" target="_blank">Start a project</a>#}
      <a class='button start-project' href="https://wa.me/00201004006332" target="_blank">Start a project</a>
    </div>
  </div>
</section>