<section class="full-page pitch">
  <div class="wrapper">
    <ul>
      <li class="sr">
        <h4>Make it</h4>
        <p>Reflect your establishement online and claim your digital space. I&rsquo;d love to <a href="mailto:contact@alexseif.com">build it for you.</a></p>
      </li>
      <li class="sr">
        <h4>Deliver it</h4>
        <p>Reach the people that matter to your business on your terms. Get <a href="mailto:contact@alexseif.com">professional support</a> promoting you.</p>
      </li>
      <li class="sr">
        <h4>Run it</h4>
        <p>Enrich your relation with your <span id=interactive-text>customers.</span>
          Live simply. Live clean. Live <a href="mailto:contact@alexseif.com">in control.</a></p>
      </li>
      <li class="sr">
        <h4>Grow it</h4>
        <p>Business has only two functions – marketing and innovation.
          It's time to <a href="mailto:contact@alexseif.com">get in touch.</a></p>
      </li>
    </ul>
  </div>
</section>