<section class="full-page slogan">
    <div class="wrapper">
        <header>
            <h3 class="fittext">I create progress by designing and developing digital experiences</h3>
        </header>
    </div>
</section>