/*
The following content was designed & implemented under AlexSeif.com
*/
/* 
    Created on : Jan 14, 2017, 11:10:24 AM
    Author     : Alex Seif <me@alexseif.com>
*/

@import url('https://fonts.googleapis.com/css?family=Chivo');

/** homepage **/
#me{
  background: url(/images/alexseif.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%; 
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#me::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#me:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

#me:hover::after {
  opacity: 1;
}
#me img{opacity: 0;}