.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.text-bg-danger{background-color:#e51c23}
.text-bg-success{background-color:#4caf50}
.text-bg-info{background-color:#9c27b0}
.text-bg-warning{background-color:#ff9800}

/* homepage */
.interactive-title{background: #0c84e4;padding-top: 2px;padding-bottom: 2px;color: whitesmoke; font-weight: 900;}
#interactive-text span{padding-left: 8px;padding-right: 8px;}
.right-to-left {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}
.left-to-right {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
@media (min-width: 992px) {
    .right-to-left {text-align: left;}
    .left-to-right {text-align: right;}
}
