article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  color: #000;
  background: rgb(218, 221, 234);
}


@-webkit-keyframes twirlbaby {
  from {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

@keyframes twirlbaby {
  from {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

@-webkit-keyframes background-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-elements{
  position: fixed;
  z-index: 10;
  padding: 10px;
}

.page-elements .branding a{
  color: #fff;
}
.page-elements .branding a.menu_white {
  color: #fff;
}

.page-elements .branding a.menu_black {
  color: #000;
}
.page-elements .branding a.menu_projects {
  max-width: 100px;
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
  -webkit-animation: background-in 2s 1;
  animation: background-in 2s 1;
  background-image: linear-gradient(to top, #3E4252 10%, #1D1F29 90%);
  /*background-image: url('/images/Cairo-1.jpg');*/
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  filter: saturate(50%);

  /*-webkit-filter: grayscale(30%);  Safari 6.0 - 9.0 */
  /*filter: grayscale(30%);*/
}

section {
  position: relative;
  z-index: 2;
  display: block;
}

section:nth-child(even){
  color: #000;
  background: rgb(218, 221, 234);
}
section:nth-child(odd){
  color: #fff;
  background-color: #000;
}

section.full-page{
  height: 100vh;
  max-width: 100vw;
  transition: padding 0.2s ease-in-out;
  padding: 40px;
}


section header{
  width: 80vw;
  position: absolute;
  top: 20vh;
  left: calc(20vw - 40px) ;
}

section .bottom-section {
  position: absolute;
  width: 80vw;
  top: 70vh;
  /*left: 25vw;*/
}

button, .button {
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-size: .5rem;
  font-weight: 700;
  will-change: color,background-color;
  color: #000;
  -webkit-transition: all .2s cubic-bezier(.55,.085,.68,.53);
  transition: all .2s cubic-bezier(.55,.085,.68,.53);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}


button:hover, .button:hover {
  will-change: transform,background-color,color;
  color: #fff;
  background-color: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform .35s;
  transition: -webkit-transform .35s;
  transition: transform .35s;
  transition: transform .35s,-webkit-transform .35s;
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  text-decoration: none;
}

.intro{
  height: 100vh;
  max-width: 100vw;
  transition: padding 0.2s ease-in-out;
  padding: 40px;
}

.intro h1{
  font-size: 10vw;
  line-height: 0.95;
  font-weight: 900;
  margin: 0 auto;
}

section.also{
  background-color: #000;
}

.hello h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.hello .bottom-section {
  transition: all 0.2s ease-in-out;
  /*margin-top: 240px;*/
  /*
  TODO: better calc to margin across diferrent devices 
  Note small devices in landscape fuck it up
  And large HD screens 
  ALSO maybe change font sizes to em */
  margin-top: calc(60vh - 9.25em);
}

.hello .bottom-section h2 {
  line-height: 40px;
  display: inline-block;
}

.hello .bottom-section h2 span {
  display: inline-block;
}

.hello .bottom-section h2 span span {
  -webkit-filter: grayscale(100%) brightness(1.2);
  filter: grayscale(100%) brightness(1.2);
}

.projects {
  width: 100%;
  transition: padding 0.2s ease-in-out;
  padding: 40px;
}


.projects .title {
  margin-top: 20px;
  margin-bottom: 40px;
}
.projects ul li {
  min-height: 200px;
}

.projects ul li:hover span {
  transition: opacity 0.2s ease-in-out;
  opacity: .5;
}

.projects ul li span {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.projects ul li p {
  padding-top: 20px;
}



.end .footnote {
  color: #656581;
  clear: left;
  font-size: 12px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
}

.end .footnote a {
  cursor: pointer;
}

.baseline {
  opacity: 0;
  background-image: linear-gradient(to bottom, #00BFD0 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 20px;
  content: "";
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.flg-hldr{
  position: relative;
}
.flg-hldr img{
  /*-webkit-filter: grayscale(30%);  Safari 6.0 - 9.0 */
  /*filter: grayscale(30%);*/
  -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
  transition: height 0.5s;
  height: 2em;
  width: 0;
  position: fixed;
  top: 30%;
  right: 5%;
  /*filter: saturate(50%);*/
}
.flg-hldr:hover img{
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
  width: 3em;
}
.thingos{padding: 0px;}

.also {
  transition: padding 0.2s ease-in-out;
  padding: 40px;
}


.also h3 {
  margin-bottom: 80px;
}

.also ul li {
  /*clear: left;*/
  /*display: block;*/
  margin-bottom: 80px;
}

.also ul li:last-child {
  margin-bottom: 20px;
}


.also ul li h4 {
  text-transform: uppercase;
  /*font-family: Roboto, Arial Narrow, _sans;*/
  /*line-height: 40px;*/
  /*padding-top: 0;*/
  /*padding-bottom: 20px;*/
}

.also ul li p {
  font-family: Helvetica Neue, Helvetica, Arial, _sans;
  /*font-size: 30px;*/
  /*line-height: 40px;*/
  /*padding: 0;*/
  /*padding-top: 0;*/
}


.wise-owl-msg a{color: #000; text-decoration: none;}

section.projects {
  min-height: 100%;
  min-height: 100vh;
  padding-top: 65px;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: #000 0 7px 35px 0;
  -moz-box-shadow: #000 0 7px 35px 0;
  box-shadow: #000 0 7px 35px 0;

}

footer{
  padding: 25px 0;
  font-size: 85%;
  background-color: #2A2A2A;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
}

.end {
  background-color: #1D1F29;
  transition: padding 0.2s ease-in-out;
  padding: 40px;
  color: #fff;
}
.end a{color: rgb(218, 221, 234);}


.end .bottom-section h2 {
  padding-top: 0;
  margin-bottom: 40px;
}

.end .bottom-section p {
  position: relative;
}

.end .bottom-section p:last-child {
  padding-left: 45px;
}

.end .bottom-section p span {
  font-size: 34px;
  -webkit-filter: grayscale(100%) brightness(1.2);
  filter: grayscale(100%) brightness(1.2);
  left: 10px;
  top: -15px;
  position: absolute;
  -webkit-animation: twirlbaby .3s linear infinite;
  animation: twirlbaby .3s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.end .links a {
  font-size: 30px;
  line-height: 40px;
  padding: 0;
  padding-top: 0;
  margin-right: 10px;
}


html {
  scroll-snap-points-y: mandatory;
  scroll-snap-points-y: repeat(50vh);
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

section.intro, 
section.full-page{
  scroll-snap-align: start;
}

@media only screen and (min-width:768px) {
  .hello h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    line-height: 30px;
  }
  h3 {
    font-size: 16px;
  }
  section .bottom-section {
    width: 70vw;
    top: 70vh;
    left: 25vw;
  }
  section.full-page {
    padding: 40px;
  }
  .projects .title {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .projects ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .projects ul li {
    margin-bottom: 0;
    min-height: 240px;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
  .projects ul li h3,
  .projects ul li p {
    padding-right: 40px;
  }
  .projects ul li p {
    padding-top: 20px;
  }
  .also {
    padding: 40px;
  }
  .also ul li {
    /*min-height: 160px;*/
  }
  .also ul li:last-child {
    margin-bottom: 40px;
    min-height: 120px;
  }
  .also ul li h4 {
    /*padding-right: 40px;*/
  }
  .end {
    padding: 40px;
  }
  .end .bottom-section {
  }
  .end .links a {
    margin-right: 0;
    margin-left: 20px;
  }
  .end .links {
    margin-top: 0;
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  footer .bottom-section {
    position: relative;
    right: 10vw;
    bottom: 20vh;
    float: right;
  }
}


@media only screen and (min-width:1024px) {
  .projects {
    padding: 80px;
  }
  .projects ul li {
    min-height: 320px;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .projects ul li h3,
  .projects ul li p {
    padding-right: 60px;
  }
  .projects ul li:nth-child(1),
  .projects ul li:nth-child(10),
  .projects ul li:nth-child(11) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .projects ul li:nth-child(1) p,
  .projects ul li:nth-child(10) p,
  .projects ul li:nth-child(11) p {
    font-size: 30px;
    line-height: 40px;
    padding: 0;
    padding-top: 0;
    padding-top: 20px;
    padding-right: 80px;
  }
  .projects ul li:nth-child(10) p {
    padding-right: 40px
  }
  .projects ul li:nth-child(11),
  .projects ul li:nth-child(12),
  .projects ul li:nth-child(13) {
    min-height: 240px;
  }
  section.full-page {
    padding: 80px;
  }
  .end .links {
    width: 62.5%;
  }
  .also {
    padding: 80px;
  }
  .also ul li:last-child {
    margin-bottom: 40px;
    min-height: 0;
  }
  .end {
    padding: 80px;
  }
  .end .bottom-section {
  }
}

@media only screen and (min-width:1400px) {
  .intro h1{
    font-size: 10em;
  }
  section .bottom-section {
    width: 25vw;
    top: 70vh;
    left: 25vw;
  }
  .projects ul li:nth-child(1) p,
  .projects ul li:nth-child(10) p,
  .projects ul li:nth-child(11) p {
    font-size: 36px;
    line-height: 50px;
    padding-top: 16px;
  }
  .projects .title {
    margin-top: 0;
  }
  .projects ul li {
    min-height: 350px;
  }
  .also ul li h4 {
    padding-top: 20px;
  }
  .also ul li p {
    font-size: 36px;
    /*line-height: 50px;*/
    /*padding-top: 16px;*/
  }
  .end .links a {
    font-size: 36px;
    line-height: 50px;
    padding-top: 16px;
  }
}
