{% extends 'base.html.twig' %}

{% block title %}
	{{ 'alex_seif'|trans }}
	- Mindfulness-Based Techniques
{% endblock %}

{% block content %}
	<section class="fullpage">
		<div class="x-container">
			<div class="ms-5">
				<div class="pages tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active page" id="nav-page-1" role="tabpanel" aria-labelledby="nav-page-1-tab" tabindex="0">
						<header class="mb-5 mt-5">
							<h2 class="fittext text-end">Mindfulness-Based Techniques</h2>
						</header>
						<ul class='impressive'>
							<li>
								<h3>Practicing mindfulness:</h3>
								Meditation, deep breathing, or body scanning can help ground you in the present moment, reduce stress, and increase awareness of unhelpful thought patterns.
							</li>
							<li>
								<h3>Behavioral Activation:</h3>
								Schedule and engage in activities that bring joy or a sense of accomplishment to combat depression and reinforce positive behavior changes.</li>
							<li>
								<h3>Journaling:</h3>
								Keep a journal of emotions, triggers, and responses to track patterns and celebrate small victories.</li>
							<li>
								<h3>Self-Compassion Practices:</h3>
								Use affirmations or guided self-compassion meditations to counteract harsh self-criticism.</li>
							<li>
								<h3>Exposure Therapy:</h3>
								Gradually expose yourself to feared situations or stimuli in a safe and controlled way to desensitize and change responses.</li>
							<li>
								<h3>Visualization:</h3>
								Imagine positive outcomes or mentally rehearse situations to reinforce healthier thought patterns.
							</li>
							<li>
								<h3>Problem-Solving Skills Training:</h3>
								Use structured approaches to tackle challenges, like breaking problems into smaller steps and brainstorming solutions.
							</li>
							<li>
								<h3>Lifestyle Adjustments:</h3>
								Exercise, sleep hygiene, and nutrition improve mental health and make CBT more effective.
							</li>
						</ul>
					</div>
					<div class="tab-pane fade page" id="nav-page-2" role="tabpanel" aria-labelledby="nav-page-2-tab" tabindex="0">
						<header class="mb-5 mt-5">
							<h2 class="fittext text-end">How to Build Integrity</h2>
						</header>
						<ul class='impressive'>
							<li>Commit yourself to
								<span class="text-decoration-underline">personal growth</span>.
							</li>
							<li>
								Stick to your word and
								<span class="text-decoration-underline">promises</span>.
							</li>
							<li>
								Be
								<span class="text-decoration-underline">respectful</span>
								and
								<span class="text-decoration-underline">reliable</span>
								to others.
							</li>
							<li>
								Be authentically
								<span class="text-decoration-underline">vulnerable</span>.
							</li>
							<li>
								Be a
								<span class="text-decoration-underline">role model</span>
								to yourself and others.
							</li>
							<li>
								Be
								<span class="text-decoration-underline">transparent</span>
								with your intentions.
							</li>
							<li>
								Be
								<span class="text-decoration-underline">gracious</span>/demonstrate
								<span class="text-decoration-underline">gratitude</span>.
							</li>
							<li>
								<span class="text-decoration-underline">Never be fake</span>
								to yourself or others.
							</li>
							<li>
								<span class="text-decoration-underline">Never make promises</span>
								you can't keep.
							</li>
							<li>
								Be
								<span class="text-decoration-underline">honest</span>
								in your communications.
							</li>
							<li>
								Always take full
								<span class="text-decoration-underline">accountability</span>.
							</li>
							<li>
								Always give your
								<span class="text-decoration-underline">best effort</span>.
							</li>
							<li>
								Help those in need; be
								<span class="text-decoration-underline">compassionate</span>.
							</li>
							<li>
								Learn how to embody
								<span class="text-decoration-underline">patience</span>.
							</li>
							<li>
								Learn to
								<span class="text-decoration-underline">be truthful</span>
								with yourself.
							</li>
							<li>
								Be around others with
								<span class="text-decoration-underline">similar morals</span>.
							</li>
							<li>
								Show
								<span class="text-decoration-underline">respect</span>
								and
								<span class="text-decoration-underline">fairness</span>
								to others.
							</li>
							<li>
								Stop pleasing others;
								<span class="text-decoration-underline">serve the Diving</span>.
							</li>
							<li>
								Be
								<span class="text-decoration-underline">consistent</span>
								between what you think, say, and do.
							</li>
						</ul>
					</div>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-page-1-tab" data-bs-toggle="tab" data-bs-target="#nav-page-1" type="button" role="tab" aria-controls="nav-page-1" aria-selected="true">Mindfulness-Based Techniques</button>
						<button class="nav-link" id="nav-page-2-tab" data-bs-toggle="tab" data-bs-target="#nav-page-2" type="button" role="tab" aria-controls="nav-page-2" aria-selected="false">How to Build Integrity</button>
					</div>
				</div>
				<!-- .pages -->
			</div>
			<!-- .ms-5 -->
		</div>
		<!-- .x-container -->
	</section>
{% endblock %}
