{% extends ':admin:base.html.twig' %}
{% block title %}Alex Seif{% endblock %}

{% block content %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
      {% block fos_user_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}