@charset "UTF-8";
/**
  * The following content was designed & implemented under AlexSeif.com
**/

/** Owl announcements **/

#announcements {
  position: fixed;
  right: 0;
  bottom: 10px;
  z-index: 2;
}

.wise-owl {
  width: 100px;
  display: block;
  cursor: pointer;
}

.wise-owl-msg {
  /*background: rgba(0,0,0,0.5);*/
  background-color: #2A2A2A;
  padding: 10px;
  border-radius: 20px 20px 0 20px;
  text-align: right;
  right: 80px;
  position: fixed;
  bottom: 115px;
  opacity: 0.8;

  a {
    color: #fff;
    text-decoration: none;
  }
}


section {
  position: relative;
  z-index: 2;
  display: block;
  scroll-snap-align: start;

  &:nth-child(even) {
    color: #000;
    background-color: #daddeb;
  }


  &:nth-child(odd) {
    color: #fff;
    background-color: #000;
  }

  &.intro,
  &.pitch {
    color: #fff;
    background-color: #000;
  }


  &.slogan,
  &.projects {
    color: #000;
    background-color: #daddeb;
  }

  &.projects {
    margin-bottom: 180px;
  }


  &.full-page {
    /*height: 100vh;*/
    /*max-width: 100vw;*/
    transition: padding 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &.full-page.slogan {
    height: 100vh;
  }

  &.full-page .wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }


  &.full-page.pitch {
    padding-top: 80px;
  }

  header {
    font-size: 10vw;
    font-weight: 900;
  }

  .wrapper {
    margin: 10vh auto 10vh 5vw;
  }

  .bottom-section p {
    margin-bottom: 10px;
  }
}

button.start-project, .button.start-project {
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  line-height: 1;
  font-size: .5rem;
  font-weight: 700;
  will-change: color, background-color;
  color: #000;
  -webkit-transition: all .2s cubic-bezier(.55, .085, .68, .53);
  transition: all .2s cubic-bezier(.55, .085, .68, .53);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

button:hover, .button:hover {
  will-change: transform, background-color, color;
  color: #fff;
  background-color: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform .35s;
  transition: -webkit-transform .35s;
  transition: transform .35s;
  transition: transform .35s, -webkit-transform .35s;
  -webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
  transition-timing-function: cubic-bezier(.25, .46, .45, .94);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  text-decoration: none;
}

.projects .title {
  font-weight: 900;
  margin: 20px 0 20px 0;
}

.projects ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.projects ul li {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.projects ul li h3 {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.projects ul li p {
  padding-bottom: 10px;
}

.projects ul li .tags {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
}

.projects ul li:hover span {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.projects ul li span {
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.projects ul li span.year {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  float: right;
}

.baseline {
  opacity: 0;
  background-image: linear-gradient(to bottom, #00BFD0 0, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 20px;
  content: "";
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.flg-hldr {
  position: relative;
}

.flg-hldr img {
  /*-webkit-filter: grayscale(30%);  Safari 6.0 - 9.0 */
  /*filter: grayscale(30%);*/
  -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
  transition: height 0.5s;
  height: 2em;
  width: 0;
  position: fixed;
  top: 30%;
  right: 5%;
  /*filter: saturate(50%);*/
}

.flg-hldr:hover img {
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
  width: 3em;
}

.pitch ul {
  display: flex;
  align-items: self-end;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  height: calc(100vh - 80px);
  /*width: calc(100vw - 80px);*/
}

.pitch ul li {
  flex: 1;
  margin: 0 auto;
  width: 100%;
}

.pitch ul li h4 {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 10px;
}

.pitch ul li p {
  font-family: Helvetica Neue, Helvetica, Arial, _sans;
}

@-webkit-keyframes twirlbaby {
  from {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

@keyframes twirlbaby {
  from {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
}

@-webkit-keyframes background-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes background-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media only screen and (min-width: 768px) {

  .pitch ul li h4 {
    width: 40vw;
    float: left;
    font-size: 3em;
  }

  section header {
    /*font-size: 6em;*/
  }

  section.projects {
    margin-bottom: 370px;
  }

  section .bottom-section {
    margin: 0 10vw;
  }

  .projects .title {
    /*margin-top: 40px;*/
    /*    margin-bottom: 80px;*/
  }

  .projects ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .projects ul li {
    margin-bottom: 0;
    min-height: 250px;
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 30%;
  }

  .projects ul li p {
    padding-top: 20px;
  }

  .pitch ul li {
    margin: 0;
  }

}


@media only screen and (min-width: 1024px) {
  .pitch ul li h4 {
    width: 30vw;
  }

  .projects ul li {
    -ms-flex-preferred-size: 25%;
    flex-basis: 20%;
  }

  .projects ul li:nth-child(1),
  .projects ul li:nth-child(10),
  .projects ul li:nth-child(11) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .projects ul li:nth-child(1) p,
  .projects ul li:nth-child(10) p,
  .projects ul li:nth-child(11) p {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1400px) {
  .pitch ul li h4 {
    width: 20vw;
  }

  section header {
    /*font-size: 12em;*/
  }

  section .bottom-section {
    width: 15vw;
    top: 70vh;
    left: 25vw;
  }

  .projects ul li:nth-child(1) p,
  .projects ul li:nth-child(10) p,
  .projects ul li:nth-child(11) p {
    font-size: 2em;
  }

  .projects .title {
    margin-top: 0;
  }

  .pitch ul li p {
    font-size: 36px;
  }

}

/** Navigtion */
.navegg {
  position: absolute;
  width: 68px;
  height: 62px;
  right: 30px;
  top: 30px;
  z-index: 2;
}

.navegg__nest {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  position: absolute;
  transition: width 0.75s linear, height 0.75s linear;
}

.navegg__svg {
  width: 100%;
  position: relative;
}

@media (min-width: 767px) {
  .navegg {
    position: absolute;
    width: 141px;
    height: 126px;
    right: 50px;
    top: 40px;
  }
}

.navigation {
  position: fixed;
  z-index: 4;
  right: 0;
  top: 0;
  width: 98px;
  height: 92px;
  transition: width 100ms linear 0.75s, height 100ms linear 0.75s;
}

.navigation--egg-expanded {
  width: 100%;
  height: 100%;
  transition: none;
  overflow: hidden;
}

.navigation--egg-expanded .navigation__menu {
  transition: none;
  visibility: visible;
}

.navigation__hamburger {
  position: absolute;
  /*width: 68px;*/
  /*height: 62px;*/
  right: 30px;
  top: 28px;
  z-index: 5;
  background-color: transparent;
  border: 0;
}

.navigation__hamburger .burger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation__menu {
  width: 100%;
  height: calc(100% - 90px);
  position: relative;
  z-index: 2;
  visibility: hidden;
  transition: visibility 100ms linear 0.75s;
}

.navigation__menu-item {
  height: 30%;
  width: 100%;
  position: relative;
}

.navigation__menu-item ~ .navigation__menu-item {
  bottom: 0;
}

.navigation__menu-item--primary {
  height: 40%;
}

.navigation__menu-item--dark {
  background-color: #4D4E4C;
}

.navigation__menu-item--white {
  background-color: #FFFFFF;
}

.navigation__menu-link {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3.125rem;
  position: absolute;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
}

.navigation__menu-link--large {
  font-size: 5rem;
  height: 100%;
}

.navigation__menu-link--white-onred {
  background-color: #C21E4E;
  color: #FFFFFF;
}

.navigation__menu-link--white-onred .navigation__menu-label:before {
  background-color: #C69875;
}

.navigation__menu-link--beige-coal {
  color: #ECBF9E;
  background-color: #4D4E4C;
}

.navigation__menu-link--beige-coal .navigation__menu-label:before {
  background-color: #C21E4E;
}

.navigation__menu-link--beige-cool {
  background-color: #484b4c;
}

.navigation__menu-link--red-white {
  color: #C21E4E;
  background-color: #FFFFFF;
}

.navigation__menu-link--red-white .navigation__menu-label:before {
  background-color: #4D4E4C;
}

.navigation__menu-item--show-text .navigation__menu-label {
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
}

.navigation__menu-item--show-text.social-links__label, .navigation__menu-item--show-text.social-links__list {
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
}

.navigation__menu-label {
  transition-duration: 0.15s;
  opacity: 0;
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.8;
}

.navigation .social-links {
  background-color: #ECBF9E;
  height: 90px;
  opacity: 0;
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.navigation .social-links__label, .navigation .social-links__list {
  transition-duration: 0.15s;
  opacity: 0;
}

.navigation .social-links__icon {
  font-size: 1.25rem;
}

.navigation .social-links.navigation__menu-item--show-text .social-links__label,
.navigation .social-links.navigation__menu-item--show-text .social-links__list {
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 1;
}

.navigation__menu-background {
  transition: opacity 100ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50vh;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
  opacity: 0;
}

@media (min-width: 767px) {
  .navigation {
    width: 191px;
    height: 166px;
    overflow: hidden;
  }

  .navigation--egg-expanded {
    width: calc(50% + 358.5px);
    height: 100%;
  }

  .navigation--egg-expanded .navigation__menu-background {
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .navigation__hamburger {
    position: absolute;
    /*width: 141px;*/
    /*height: 126px;*/
    right: 50px;
    top: 40px;
    cursor: pointer;
  }

  .navigation__hamburger:hover .burger:not(.burger--is-expanded) .burger__buns {
    top: -6px;
  }

  .navigation__hamburger:hover .burger:not(.burger--is-expanded) .burger__buns--bottom {
    top: 30px;
  }

  .navigation .social-links {
    display: none;
  }

  .navigation__menu {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__menu-item {
    height: 50%;
    width: 50%;
  }

  .navigation__menu-item:last-child {
    align-self: flex-end;
  }

  .navigation__menu-item--primary {
    width: 100%;
  }

  .navigation__menu-link:hover .navigation__menu-label:before {
    right: -8px;
  }

  .navigation__menu-link:hover .navigation__menu-background {
    opacity: 1;
  }

  .navigation__menu-label:before {
    transition: right 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
    position: absolute;
    z-index: -1;
    width: auto;
    height: 12px;
    left: -8px;
    right: calc(100% + 8px);
    bottom: -2px;
  }
}

.burger {
  display: inline-block;
  backface-visibility: hidden;
  position: relative;
  display: block;
  width: 20px;
  height: 14px;
}

.burger__buns {
  background-color: #FFFFFF;
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
}

.burger__buns--bottom {
  top: 12px;
}

.burger__fillings {
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #FFFFFF;
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  top: 6px;
}

.burger--is-expanded {

  .burger__buns {
    top: 6px;
    transform: rotate(45deg);
    transition: top 0.35s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1) 0.35s;
  }

  .burger__buns--bottom {
    top: 6px;
    transform: rotate(-45deg);
  }

  .burger__fillings {
    transition: opacity 0.35s linear 0.175s;
    opacity: 0;
  }
}

@media (min-width: 767px) {
  .burger {
    width: 40px;
    height: 27px;
  }

  .burger__buns {
    transition: top 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #FFFFFF;
    height: 3px;
  }

  .burger__buns--bottom {
    top: 24px;
  }

  .burger__fillings {
    height: 3px;
    top: 12px;
  }

  .burger--is-expanded .burger__buns {
    top: 12px;
  }

  .burger--is-expanded .burger__buns--bottom {
    top: 12px;
  }
}

#navigation {
  display: none;
}