<footer>
  <div class="container">
    <div class="footer-wrapper">
      <a href="{{ path('app_landing_page') }}" title="Wordpress Oprimization packages"><img src=" {{ asset('build/images/Wordpress-Optimize-logo.webp') }} " alt=" wordpress optimization packages" width="60" /></a>
      <ul>
        <li>
          <a href="https://www.instagram.com/alex_makes_websites/" target="_blank" class="social-icon-link" aria-label="Instagram: Alex Makes Websites">{% include 'icons/014-instagram.svg' %}</a>
        </li>
      </ul>
      <nav></nav>
      <div>
        <a class="cta" href="https://wa.me/+201004006332" target="_blank">Start Your Project</a>
      </div>
    </div>
    <!-- .footer-wrapper -->
  </div>
  <!-- .container -->
</footer>
