{% extends ':admin:base.html.twig' %}

{% block title %}Backups{% endblock %}

 



{% block adminPageTitle %}Backups{% endblock %}
{% block adminPageActions %}
  <a href="{{ path('backups_generate') }}" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
  {% endblock %}

{% block adminPageContent %}
   <ul class="list-group">
    {% if finder and finder|length > 0%}
      {% for f in finder %}
        <li class="list-group-item">
          <a href="{{ path('backups_download', {'file':f.filename}) }}">{{ f.filename }}</a>
        </li>
      {% endfor %}
    {% else %}
      <li class="list-group-item list-group-item-warning">No Backups</li>

    {% endif %}
  </ul>
{% endblock %}

